{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var metaBundle \nystudio107\seomatic\models\MetaBundle #}
{% extends '_layouts/cp' %}

{% set linkGetStarted = url('seomatic/global') %}

{% do view.registerAssetBundle("nystudio107\\seomatic\\assetbundles\\seomatic\\SeomaticAsset") %}
{% set baseAssetsUrl = view.getAssetManager().getPublishedUrl('@nystudio107/seomatic/assetbundles/seomatic/dist', true) %}

{% block contextMenu %}
    {% include "seomatic/settings/_includes/sites-menu.twig" %}
{% endblock %}

{% set content %}
    <style>
        text.bb-chart-arcs-title {
            font-size: 2.0em;
            font-family: system-ui, BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        }
    </style>
    <div class="field readable">
            {% if showWelcome %}
                <div class="readable" style="text-align:center; margin:0 auto; padding: 5% 10%;">
                    <img src="{{ baseAssetsUrl ~ '/img/Seomatic-icon.svg' }}"
                         width="30%" height="auto"/>
                    <h2>Thanks for using SEOmatic!</h2>
                    <p>
                        This Dashboard will show you how set up your SEO implementation is; you can click on any shaded part of the graphs to go to the settings that need your attention.
                    </p>
                    <p>
                        SEOmatic for Craft CMS 3 is a complete re-write and re-architecture from scratch of the plugin. This allowed us to take what we learned from SEOmatic 1.x, and rebuild it with a much more robust and extendable architecture.
                    </p>
                    <p>
                        We hope you love it!
                    </p>
                </div>
            {% endif %}
        <div class="flex">
            <div class="flex-grow">
                <h3 class="centeralign">Global SEO Setup</h3>
                <div id="GlobalSEOChart" style="width: 300px; margin: 0 auto;"></div>
            </div>
            <div class="flex-grow">
                <h3 class="centeralign">Content SEO Setup</h3>
                <div id="ContentSEOChart" style="width: 300px; margin: 0 auto;"></div>
            </div>
            <div class="flex-grow">
                <h3 class="centeralign">Site Settings Setup</h3>
                <div id="SiteSettingsChart" style="width: 300px; margin: 0 auto;"></div>
            </div>
        </div>

    </div>
{% endset %}


{############### Global SEO Graph ###############}

{% js %}
    var chart = bb.generate({
        data: {
            columns: [
                ["data", {{ globalSetupStat }}],
            ],
            type: "gauge",
            names: {
                data: "Global SEO Setup",
            },
            onclick: function(d, element) {
                window.location = '{{ cpUrl('seomatic/global/general/' ~ currentSiteHandle) }}';
            }
        },
        gauge: {
            label: {
                show: false,
            },
            fullCircle: true,
        },
        color: {
            pattern: [
        {% for setupGrade in setupGrades |reverse %}
            "{{ setupGrade.color }}",
        {% endfor %}
            ],
            threshold: {
                values: [
                    30,
                    60,
                    90,
                    100
                ]
            }
        },
        legend: {
            show: false
        },
        size: {
            height: 320
        },
        bindto: "#GlobalSEOChart"
    });
{% endjs %}

{############### Content SEO Graph ###############}

{% js %}
    var chart = bb.generate({
        data: {
            columns: [
                {% for setupGrade in setupGrades %}
                ["{{ setupGrade.id }}", {{ contentSetupStats[loop.index0] }}],
                {% endfor %}
            ],
            colors: {
            {% for setupGrade in setupGrades %}
                {{ setupGrade.id }}: "{{ setupGrade.color }}",
            {% endfor %}
            },
            names: {
            {% for setupGrade in setupGrades %}
                {{ setupGrade.id }}: "{{ setupGrade.name }}",
            {% endfor %}
            },
            type: "donut",
            onclick: function(d, element) {
                window.location = '{{ cpUrl('seomatic/content/' ~ currentSiteHandle) }}';
            }
        },
        donut: {
            title: "Overall Grade: "
        },
        legend: {
            show: true
        },
        bindto: "#ContentSEOChart"
    });
{% endjs %}


{############### Site Settings Graph ###############}

{% js %}
    var chart = bb.generate({
        data: {
            columns: [
                ["data", {{ siteSetupStat }}],
            ],
            names: {
                data: "Site Settings Setup",
            },
            type: "gauge",
            onclick: function(d, element) {
                window.location = '{{ cpUrl('seomatic/site/identity/' ~ currentSiteHandle) }}';
            }
        },
        gauge: {
            label: {
                show: false,
            },
            fullCircle: true,
        },
        color: {
            pattern: [
        {% for setupGrade in setupGrades |reverse %}
            "{{ setupGrade.color }}",
        {% endfor %}
            ],
            threshold: {
                values: [
                    30,
                    60,
                    90,
                    100
                ]
            }
        },
        legend: {
            show: false
        },
        size: {
            height: 320
        },
        bindto: "#SiteSettingsChart"
    });
{% endjs %}
