{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var metaBundle \nystudio107\seomatic\models\MetaBundle #}
{% extends 'seomatic/_layouts/seomatic-cp.twig' %}

{% from 'seomatic/_includes/macros.twig' import registerJsModules %}

{% set linkGetStarted = url('seomatic/global') %}

{% do view.registerAssetBundle("nystudio107\\seomatic\\assetbundles\\seomatic\\SeomaticAsset") %}
{% set baseAssetsUrl = view.getAssetManager().getPublishedUrl('@nystudio107/seomatic/assetbundles/seomatic/dist', true) %}

{% block foot %}
    {{ parent() }}
    {% set jsModules = [
        'vendors~dashboard.js',
        'dashboard.js',
    ] %}
    {{ registerJsModules(jsModules) }}
{% endblock %}

{% block contextMenu %}
    {% include "seomatic/settings/_includes/sites-menu.twig" %}
{% endblock %}

{% set content %}
    <style>
        text.bb-chart-arcs-title {
            font-size: 2.0em;
            font-family: system-ui, BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        }
    </style>
    <div id="cp-nav-content">
        <div class="field readable">
                {% if showWelcome %}
                    <confetti></confetti>
                    <div class="readable" style="text-align:center; margin:0 auto; padding: 5% 10%;">
                        <img src="{{ baseAssetsUrl ~ '/img/Seomatic-icon.svg' }}"
                             width="30%" height="auto"/>
                        <h2>Thanks for using SEOmatic!</h2>
                        <p>
                            This Dashboard will show you how set up your SEO implementation is; you can click on any shaded part of the graphs to go to the settings that need your attention.
                        </p>
                        <p>We hope you love it! For more information, please <a href="{{ docsUrl }}" target="_blank" rel="noopener">see the documentation</a>.</p>
                    </div>
                {% endif %}
            <div class="flex">
                <div class="flex-grow">
                    <h3 class="centeralign">Global SEO Setup</h3>
                    <div id="GlobalSEOChart" style="width: 300px; margin: 0 auto;">
                        <dashboard-chart
                                         :series="[{{ globalSetupStat | join(',') }}]"
                                         :colors="['#008FFB', '#DCE6EC']"
                                         :labels="[]"
                        >
                        
                        </dashboard-chart>
                    </div>
                </div>
                <div class="flex-grow">
                    <h3 class="centeralign">Content SEO Setup</h3>
                    <div id="ContentSEOChart" style="width: 300px; margin: 0 auto;"></div>
                </div>
                <div class="flex-grow">
                    <h3 class="centeralign">Site Settings Setup</h3>
                    <div id="SiteSettingsChart" style="width: 300px; margin: 0 auto;"></div>
                </div>
            </div>
    
        </div>
    </div>
{% endset %}


{############### Global SEO Graph ###############}
{#
{% js %}
    var chart = bb.generate({
        data: {
            columns: [
                ["data", {{ globalSetupStat }}],
            ],
            type: "gauge",
            names: {
                data: "Global SEO Setup",
            },
            onclick: function(d, element) {
                window.location = '{{ cpUrl('seomatic/global/general/' ~ currentSiteHandle) }}';
            }
        },
        gauge: {
            label: {
                show: false,
            },
            fullCircle: true,
        },
        color: {
            pattern: [
        {% for setupGrade in setupGrades |reverse %}
            "{{ setupGrade.color }}",
        {% endfor %}
            ],
            threshold: {
                values: [
                    30,
                    60,
                    90,
                    100
                ]
            }
        },
        legend: {
            show: false
        },
        size: {
            height: 320
        },
        bindto: "#GlobalSEOChart"
    });
{% endjs %}
#}

{############### Content SEO Graph ###############}

{#

{% js %}
    var chart = bb.generate({
        data: {
            columns: [
                {% for setupGrade in setupGrades %}
                ["{{ setupGrade.id }}", {{ contentSetupStats[loop.index0] }}],
                {% endfor %}
            ],
            colors: {
            {% for setupGrade in setupGrades %}
                {{ setupGrade.id }}: "{{ setupGrade.color }}",
            {% endfor %}
            },
            names: {
            {% for setupGrade in setupGrades %}
                {{ setupGrade.id }}: "{{ setupGrade.name }}",
            {% endfor %}
            },
            type: "donut",
            onclick: function(d, element) {
                window.location = '{{ cpUrl('seomatic/content/' ~ currentSiteHandle) }}';
            }
        },
        donut: {
            title: "Overall Grade: "
        },
        legend: {
            show: true
        },
        bindto: "#ContentSEOChart"
    });
{% endjs %}

#}

{############### Site Settings Graph ###############}

{#
{% js %}
    var chart = bb.generate({
        data: {
            columns: [
                ["data", {{ siteSetupStat }}],
            ],
            names: {
                data: "Site Settings Setup",
            },
            type: "gauge",
            onclick: function(d, element) {
                window.location = '{{ cpUrl('seomatic/site/identity/' ~ currentSiteHandle) }}';
            }
        },
        gauge: {
            label: {
                show: false,
            },
            fullCircle: true,
        },
        color: {
            pattern: [
        {% for setupGrade in setupGrades |reverse %}
            "{{ setupGrade.color }}",
        {% endfor %}
            ],
            threshold: {
                values: [
                    30,
                    60,
                    90,
                    100
                ]
            }
        },
        legend: {
            show: false
        },
        size: {
            height: 320
        },
        bindto: "#SiteSettingsChart"
    });
{% endjs %}
#}
