{% set inheritedFrom = seomatic.helper.findInheritableBundle(parentBundles, "seoTitle") %}
{% set hasInheritableValues = inheritedFrom is not null %}

{% set additionalVars = {
    'isInherited': hasInheritableValues and seomatic.helper.isInherited(metaGlobalVars, "seoTitle"),
    'hasInheritableValues': hasInheritableValues,
    'wrapperClass': 'seomatic-textSourceWrapper',
    'fieldLabel': "SEO Title Source"|t("seomatic"),
    'labelFor': 'metaBundleSettings-seoTitleSource',
    'settingName': 'seoTitle'
} %}

{% embed "seomatic/settings/_includes/fields/_inheritableField.twig" with additionalVars %}
    {% macro seoTitleField(textOptions, textFieldSources, seomaticConfig, metaBundleSettings, metaGlobalVars) %}
        <div class="instructions">
            <p>{{ "Make sure your title tag is explicit and contains your most important keywords. Be sure that each page has a unique title tag."|t("seomatic") }}</p>
        </div>
        {% import "_includes/forms" as forms %}
        {% namespace "metaBundleSettings" %}
            <div class="heading">
                {{ forms.select({
                    id: "seoTitleSource",
                    name: "seoTitleSource",
                    options: textOptions,
                    value: metaBundleSettings.seoTitleSource,
                    class: "seomatic-textSourceSelect",
                    errors: metaBundleSettings.getErrors("seoTitleSource"),
                }) }}
            </div>
        {% endnamespace %}

        {% if textFieldSources is defined and textFieldSources |length %}
            {% namespace "metaBundleSettings" %}
                <div class="heading seomatic-textSourceFromField">
                    <label id="metaBundleSettings-seoTitleField-label"
                           for="metaBundleSettings-seoTitleField">{{ "Source Field: "|t("seomatic") }}</label>
                    {{ forms.select({
                        id: "seoTitleField",
                        name: "seoTitleField",
                        options: textFieldSources,
                        value: metaBundleSettings.seoTitleField,
                        errors: metaBundleSettings.getErrors("seoTitleField"),
                    }) }}
                </div>
            {% endnamespace %}
        {% endif %}

        {% namespace "metaGlobalVars" %}
            <div class="input ltr seomatic-textSourceFromUrl">
                {{ forms.text({
                    id: "seoTitle",
                    name: "seoTitle",
                    value: metaGlobalVars.seoTitle,
                    class: "nicetext",
                    maxlength: seomaticConfig.maxTitleLength,
                    showCharsLeft: true,
                    warning: false,
                    errors: metaGlobalVars.getErrors("seoTitle"),
                }) }}
            </div>
        {% endnamespace %}
    {% endmacro %}

    {% block inheritedValues %}
        {% if inheritedFrom is not null %}
            {{ _self.seoTitleField(textOptions, textFieldSources, seomatic.config, inheritedFrom.metaBundleSettings, inheritedFrom.metaGlobalVars) }}
        {% endif %}
    {% endblock %}

    {% block field %}
        {{ _self.seoTitleField(textOptions, textFieldSources, seomatic.config, metaBundleSettings, metaGlobalVars) }}
    {% endblock %}
{% endembed %}
