{% from "seomatic/settings/_includes/macros.twig" import configWarning %}

{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("nystudio107\\seomatic\\assetbundles\\seomatic\\SeomaticAsset") %}
{% set baseAssetsUrl = view.getAssetManager().getPublishedUrl('@nystudio107/seomatic/assetbundles/seomatic/dist', true) %}

{% set tabs = {
    general: {
        url: "#tab-content-general",
        label: "General" |t("seomatic"),
    },
    twitter: {
        url: "#tab-content-twitter",
        label: "Twitter" |t("seomatic"),
    },
    facebook: {
        url: "#tab-content-facebook",
        label: "Facebook" |t("seomatic"),
    },
} %}

{% block header %}
    {{ block('pageTitle') }}
    {{ block('contextMenu') }}
    <div class="flex-grow"></div>
    <div class="flex-grow"></div>
    {{ block('actionButton') }}
{% endblock %}

{% block contextMenu %}
    {% include "seomatic/settings/_includes/sites-menu.twig" %}
{% endblock %}

{% block content %}

    <input type="hidden" name="action" value="seomatic/settings/save-content">
    <input type="hidden" name="siteId" value="{{ currentSiteId }}">
    <input type="hidden" name="sourceHandle" value="{{ currentSourceHandle }}">
    <input type="hidden" name="sourceType" value="{{ currentSourceType }}">
    {{ redirectInput("seomatic/edit-content/#{currentSourceType}/#{currentSourceHandle}/#{currentSiteHandle}") }}

    <div id="tab-content-general">
        {% include "seomatic/settings/_includes/tab-general.twig" %}
    </div>

    <div id="tab-content-twitter" class="hidden">
        {% include "seomatic/settings/_includes/tab-twitter.twig" %}
    </div>

    <div id="tab-content-facebook" class="hidden">
        {% include "seomatic/settings/_includes/tab-facebook.twig" %}
    </div>

{% endblock %}
