{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var metaBundle \nystudio107\seomatic\models\MetaBundle #}

{% requirePermission "seomatic:content-meta" %}

{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}

{% block contextMenu %}
    {% include "seomatic/settings/_includes/sites-menu.twig" %}
{% endblock %}

{% set content %}
<div class="readable">

    <input type="hidden" name="action" value="seomatic/saveContent" />
    <input type="hidden" name="redirect" value="seomatic/content" />

    {{ csrfInput() }}

    <table class="data">
        <thead class="sections first">
        <tr>
            <th>{{ "Name"|t }}</th>
            <th class="thin centeralign">{{ "Entries"|t }}</th>
            <th>{{ "Type"|t }}</th>
            <th class="centeralign">{{ "Title"|t }}</th>
            <th class="centeralign">{{ "Description"|t }}</th>
            <th class="centeralign">{{ "Image"|t }}</th>
            <th class="centeralign">{{ "Sitemap"|t }}</th>
            <th>{{ "Robots"|t }}</th>
            <th class="thin"></th>
        </tr>
        </thead>

        <tbody class="sections">
        {% set numGrades = seoSetupGrades |length %}
        {% for metaBundle in metaBundles %}
            {% set num_entries = 0 %}
            {% set stat = 0 %}
            {% set numFields = seoSetupFields |length %}
            {% for fieldName in seoSetupFields %}
                {% if metaBundle.metaGlobalVars[fieldName] is defined and metaBundle.metaGlobalVars[fieldName] |length %}
                    {% set stat = stat + 1 %}
                {% endif %}
            {% endfor %}
            {% set stat = (numGrades - ((stat * numGrades) / numFields)) |round %}
            {% if stat >= numGrades %}
                {% set stat = numGrades - 1 %}
            {% endif %}
            <tr>
                
                {############### Name ###############}
                
                <td>
                    {% set sourcePrefix =  '' %}
                    {% switch metaBundle.sourceBundleType %}
                        {% case 'section' %}
                            {% set sourcePrefix = 'settings/sections/' %}
                        {% case 'category' %}
                            {% set sourcePrefix =  'settings/categories/' %}
                    {% endswitch %}
                    {% set thisGrade = seoSetupGrades[stat] %}
                    <span class="status" style="background-color: {{ thisGrade['color'] }}" title="Setup Grade: {{ thisGrade['name'] }}"></span>
                    <a href="{{ cpUrl("seomatic/edit-content/general/#{metaBundle.sourceBundleType}/#{metaBundle.sourceHandle}/#{currentSiteHandle}") }}">{{ metaBundle.sourceName }}</a>
                    <a class="go" href="{{ url(sourcePrefix ~ metaBundle.sourceId) }}"></a>
                </td>
                
                {############### Entries ###############}
    
                <td class="centeralign">
                    {% switch metaBundle.sourceBundleType %}
                    {% case "section" %}
                        {% set numEntries = craft.entries({ sectionId: metaBundle.sourceId }).count() %}
                    {% case "categorygroup" %}
                        {% set numEntries = craft.categories({ groupId: metaBundle.sourceId }).count() %}
                    {% case "product" %}
                        {% set numEntries = craft.products({ typeId: metaBundle.sourceId }).count() %}
                    {% default %}
                        {% set numEntries = 0 %}
                    {% endswitch %}
                    
                    {{ numEntries }}
                </td>

                {############### Type ###############}

                <td>
                    {{ metaBundle.sourceType }}
                </td>
    
                {############### SEO Title ###############}
    
                <td class="centeralign">
                    {% set status = (metaBundle.metaGlobalVars.seoTitle |length) ? "enabled" : "disabled" %}
                    <span class='{{ "status #{status} inline-item"}}'></span>
                </td>
    
                {############### SEO Description ###############}
    
                <td class="centeralign">
                    {% set status = (metaBundle.metaGlobalVars.seoDescription |length) ? "enabled" : "disabled" %}
                    <span class='{{ "status #{status} inline-item"}}'></span>
                </td>
    
                {############### SEO Image ###############}
    
                <td class="centeralign">
                    {% set status = (metaBundle.metaGlobalVars.seoImage |length) ? "enabled" : "disabled" %}
                    <span class='{{ "status #{status} inline-item"}}'></span>
                </td>
    
                {############### Sitemap ###############}
    
                <td class="centeralign">
                    {% set status = metaBundle.metaSitemapVars.sitemapUrls ? "enabled" : "disabled" %}
                    <span class='{{ "status #{status} inline-item"}}'></span>
                </td>
    
                {############### Robots ###############}
    
                <td>
                    {{ metaBundle.metaGlobalVars.robots }}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endset %}
