{% requirePermission "seomatic:content-meta:twitter" %}

{% from "seomatic/settings/_includes/macros.twig" import configWarning %}

{% extends "seomatic/_layouts/contentSettings.twig" %}

{% block header %}
    {{ block('pageTitle') }}
    {{ block('contextMenu') }}
    <div class="flex-grow"></div>
    <div class="flex-grow"></div>
    {{ block('actionButton') }}
{% endblock %}

{% block contextMenu %}
    {% include "seomatic/settings/_includes/sites-menu.twig" %}
{% endblock %}

{% block content %}
    
    <input type="hidden" name="action" value="seomatic/settings/save-content">
    <input type="hidden" name="siteId" value="{{ currentSiteId }}">
    <input type="hidden" name="sourceHandle" value="{{ currentSourceHandle }}">
    <input type="hidden" name="sourceBundleType" value="{{ currentSourceBundleType }}">
    {{ redirectInput("seomatic/edit-content/#{currentSubSection}/#{currentSourceBundleType}/#{currentSourceHandle}/#{currentSiteHandle}") }}

    {% if currentUser.can("seomatic:content-meta:twitter") %}
        <div id="tab-content-twitter">
            <h2>{{ subSectionTitle ~ " Settings"|t("seomatic") }}</h2>
            {% include "seomatic/settings/_includes/tab-twitter.twig" with {"pageContext": "content"} %}
        </div>
    {% endif %}
    
    {% include "seomatic/_includes/footer-message.twig" with {
        message: "Any text fields can include double-bracket tags that output Seomatic properties, such as `{{ seomatic.meta.seoTitle }}`."
    } %}
    {% switch currentSourceBundleType %}
        {% case "section" %}
            {% include "seomatic/_includes/footer-message.twig" with {
                message: "Any text fields can include single-bracket tags that output Entry properties, such as `{entry.title}`."
            } %}
        {% case "category" %}
            {% include "seomatic/_includes/footer-message.twig" with {
                message: "Any text fields can include single-bracket tags that output Category properties, such as `{category.title}`."
            } %}
    {% endswitch %}
{% endblock %}
