{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}

{% do view.registerAssetBundle('nystudio107\\seomatic\\assetbundles\\seomatic\\SeomaticAsset') %}

{% set metaBundles = craft.seomatic.getContentMetaBundles(false) %}

{% set title = craft.seomatic.getPluginName() ~ " Content SEO" %}

{% set fullPageForm = true %}

{% set docsUrl = "https://github.com/nystudio107/craft3-seomatic/wiki" %}

{% set seomaticSections = {
    content: { label: "Content SEO"|t, url: url('seomatic/content') },
    global: { label: "Global SEO"|t, url: url('seomatic/global') },
} %}

{% set crumbs = [
    { label: craft.seomatic.getPluginName(), url: url('seomatic') },
    { label: "Content SEO"|t, url: url('seomatic/content') },
] %}

    {% set subnav = seomaticSections %}
    {% set selectedSubnavItem = 'content' %}

{% set content %}

    <input type="hidden" name="action" value="seomatic/saveContentSeo" />
    <input type="hidden" name="redirect" value="seomatic/content" />

    {{ getCsrfInput() }}

    <table class="data">
        <thead class="sections first">
        {#
        <tr>
            <th colspan="6">
                <h1>{{ "Content"|t }}</h1>
            </th>
        </tr>
        #}
        <tr>
            <th>{{ "Name"|t }}</th>
            <th class="thin">{{ "Entries"|t }}</th>
            <th>{{ "Type"|t }}</th>
            <th>{{ "Meta Tags"|t }}</th>
            <th>{{ "Link Tags"|t }}</th>
            <th>{{ "Script Tags"|t }}</th>
            <th>{{ "Structured Data"|t }}</th>
            <th>{{ "Sitemap"|t }}</th>
            <th class="thin"></th>
        </tr>
        </thead>

        <tbody class="sections">
        {% for metaBundle in metaBundles %}
            {% set num_entries = 0 %}
            <tr>
                <td>
                    <a href="{{ url('settings/sections/' ~ metaBundle.sourceId) }}" target="_blank">{{ metaBundle.sourceName }}</a>
                </td>
                <td>
                    {% set numEntries = craft.entries.total({ sectionId: metaBundle.sourceId }) %}
                    {{ numEntries }}
                </td>
                <td>
                    {{ metaBundle.sourceType }}
                </td>
                <td>
                    {% set total = 0 %}
                    {% for metaTagContainer in metaBundle.metaTagContainer %}
                        {% set total = total + (metaTagContainer.data |length) %}
                    {% endfor %}
                    {% if total > 0 %}
                        <span class="content-stats-checkmark">&check;</span>&nbsp;<span class="content-stats-total">({{ total }})</span>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% set total = 0 %}
                    {% for metaLinkContainer in metaBundle.metaLinkContainer %}
                        {% set total = total + (metaLinkContainer.data |length) %}
                    {% endfor %}
                    {% if total > 0 %}
                        <span class="content-stats-checkmark">&check;</span>&nbsp;<span class="content-stats-total">({{ total }})</span>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% set total = 0 %}
                    {% for metaScriptContainer in metaBundle.metaScriptContainer %}
                        {% set total = total + (metaScriptContainer.data |length) %}
                    {% endfor %}
                    {% if total > 0 %}
                        <span class="content-stats-checkmark">&check;</span>&nbsp;<span class="content-stats-total">({{ total }})</span>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% set total = 0 %}
                    {% for metaJsonLdContainer in metaBundle.metaJsonLdContainer %}
                        {% set total = total + (metaJsonLdContainer.data |length) %}
                    {% endfor %}
                    {% if total > 0 %}
                        <span class="content-stats-checkmark">&check;</span>&nbsp;<span class="content-stats-total">({{ total }})</span>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if metaBundle.sitemapUrls %}
                        &check;
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <a class="btn">Settings…</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endset %}
