{% from "seomatic/settings/_includes/macros.twig" import configWarning %}
{% import "_includes/forms" as forms %}

{% namespace "site" %}
<div class="field">
    <div class="heading">
        <h2>{{ "SiteLinks Search Box"|t("seomatic") }}</h2>
        <div class="instructions">
            <p>
                {{ "With Google Sitelinks search box, from search results. Search users sometimes use navigational queries, typing in the brand name or URL of a known site or app, only to do a more detailed search once they reach their destination. [Learn More](https://developers.google.com/search/docs/data-types/sitelinks-searchbox)"|t("seomatic") |md }}
            </p>
        </div>
    </div>

    {{ forms.textField({
        label: "Search Target URL Pattern"|t("seomatic"),
        instructions: "This property specifies a search URL pattern for sending queries to your site's search engine.  It must include a string enclosed in curly braces that is a placeholder for the user's search query (e.g., `{search_term_string}`). The string inside the curly braces must also appear in the name attribute of the query-input property."|t("seomatic"),
        id: "siteLinksSearchTarget",
        name: "siteLinksSearchTarget",
        value: site.siteLinksSearchTarget,
        warning: false,
        errors: site.getErrors("siteLinksSearchTarget"),
    }) }}

    {{ forms.textField({
        label: "Search Query Input"|t("seomatic"),
        instructions: "The value for the name attribute of query-input must match the string enclosed inside curly braces in the target property of potentialAction, e.g.: `search_term_string`"|t("seomatic"),
        id: "siteLinksQueryInput",
        name: "siteLinksQueryInput",
        value: site.siteLinksQueryInput,
        warning: false,
        errors: site.getErrors("siteLinksQueryInput"),
    }) }}
</div>
    
    <div class="field">
        <div class="heading">
            <h2>{{ "Additional Sitemap URLs"|t("seomatic") }}</h2>
            <div class="instructions">
                <p>
                    {{ "SEOmatic will automatically create a sitemap for each of your sections, but if you have additional URLs that are outside of the CMS that you want to include, you can add them here."|t("seomatic") |md }}
                </p>
            </div>
        </div>
    {{ forms.editableTableField({
        label: "Sitemap URLs"|t("seomatic"),
        instructions: "Add the custom sitemap URLs below."|t("seomatic"),
        id: 'additionalSitemapUrls',
        name: 'additionalSitemapUrls',
        required: false,
        defaultValues: {
            loc: "",
            changefreq: "weekly",
            priority: "0.5",
        },
        cols: {
            loc: {
                heading: "URL"|t("seomatic"),
                type: "singleline",
                width: "70%",
            },
            changefreq: {
                heading: "Change Frequency"|t("seomatic"),
                type: "select",
                width: "20%",
                options: {
                    always: "Always"|t("seomatic"),
                    hourly: "Hourly"|t("seomatic"),
                    daily: "Daily"|t("seomatic"),
                    weekly: "Weekly"|t("seomatic"),
                    monthly: "Monthly"|t("seomatic"),
                    yearly: "Yearly"|t("seomatic"),
                    never : "Never"|t("seomatic"),
                },
            },
            priority: {
                heading: "Priority"|t("seomatic"),
                type: "select",
                width: "10%",
                options: {
                    "1.0": "1.0",
                    "0.9": "0.9",
                    "0.8": "0.8",
                    "0.7": "0.7",
                    "0.6": "0.6",
                    "0.5": "0.5",
                    "0.4": "0.4",
                    "0.3": "0.3",
                    "0.2": "0.2",
                    "0.1": "0.1",
                    "0.0": "0.0",
                },
            },
        },
        rows: site.additionalSitemapUrls,
        errors: site.getErrors("additionalSitemapUrls"),
    }) }}

</div>
{% endnamespace %}
