{% requirePermission "seomatic:site-settings:sitemap" %}

{% extends "seomatic/_layouts/siteSettings.twig" %}

{% block header %}
    {{ block('pageTitle') }}

    <div class="flex-grow"></div>
    <div class="flex-grow"></div>
    {{ block('copyFromMenu') }}
    {{ block('actionButton') }}
{% endblock %}

{% block copyFromMenu %}
    {% include "seomatic/settings/_includes/copy-settings-menu.twig" %}
{% endblock %}

{% block content %}

    <input type="hidden" name="action" value="seomatic/settings/save-site">
    <input type="hidden" name="siteId" value="{{ currentSiteId }}">
    {{ redirectInput("seomatic/site/#{currentSubSection}/#{currentSiteHandle}") }}

    {% if currentUser.can("seomatic:site-settings:sitemap") %}
        <div class="flex">
            <div class="flex-grow"></div>
            <a href="{{ seomatic.helper.sitemapIndexForSiteId(currentSiteId) }}" class="btn livepreviewbtn"
               rel="noopener" target="_blank">{{ 'View Sitemap Index'|t("seomatic") }}</a>
        </div>
        <div id="tab-content-sitemap">
            <div class="field">
                <div class="heading">
                    <h2>{{ subSectionTitle ~ " Settings"|t("seomatic") }}</h2>
                </div>
                <div class="instructions">
                    <p>
                        {{ "SEOmatic will automatically create a sitemap for each of your sections, but if you have additional sitemaps or individual URLs that are outside of the CMS that you want to include, you can add them here."|t("seomatic") |md }}
                    </p>
                </div>
            </div>
            {% include "seomatic/settings/site/_includes/tab-sitemap.twig" %}
        </div>
    {% endif %}

    {% include "seomatic/_includes/footer-message.twig" with {
        message: ""
    } %}
{% endblock %}
