{% set ogTitleArray = seomatic.tag.get('og:title').renderAttributes() %}
{% set ogDescriptionArray = seomatic.tag.get('og:description').renderAttributes() %}
{% set ogImageArray = seomatic.tag.get('og:image').renderAttributes() %}
{% set canonicalArray = seomatic.link.get('canonical').renderAttributes() %}

{% set previewFacebook = true %}
{# Always display the Facebook OpenGraph preview now. Used to be:
set previewFacebook = seomatic.site.facebookAppId |length or seomatic.site.facebookProfileId |length
#}
<div class="preview-column">
    <div class="displaypreview" style="{{ displayPreviewInlineStyles ?? '' }}">
        {% if previewFacebook %}
            <div class="Facebook-container">
                <div class="">
                    <a href="{{ canonicalArray.href ?? siteUrl("/") }}" target="_blank">
                        <div class="Facebook-image-wrap">
                            <div id="facebook-post-image" class="Facebook-post-image" style="width:470px;height:246px;">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="facebook-text-wrap">
                    <div class="Facebook-text-container">
                        <div class="Facebook-headline">
                            <a class="Facebook-link" href="{{ canonicalArray.href ?? siteUrl("/") }}" target="_blank">{{ (ogTitleArray.content ?? "") |raw }}</a>
                        </div>
                        <div class="Facebook-text">
                            {{ (ogDescriptionArray.content ?? "") |raw }}
                        </div>
                        <div class="Facebook-site-url-wrapper">
                            <div>
                                <div class="Facebook-site-url">
                                    {{ siteUrl | replace({'http://': ''}) | replace({'https://': ''})  | replace({'/': ''}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                var x = document.getElementsByClassName("Facebook-post-image");
                var i;
                for (i = 0; i < x.length; i++) {
                    x[i].style.backgroundImage = "url(" + "{{ baseAssetsUrl ~ '/img/no_image_set.png' }}" + ")";
                    {% if ogImageArray.content is defined and ogImageArray.content |length %}
                    {% set cacheBustString = "" %}
                    {% if "?" not in ogImageArray.content %}
                        {% set cacheBustString = "?mtime=" ~ now|date('U') %}
                    {% endif %}
                    x[i].style.backgroundImage = "url(" + "{{ (ogImageArray.content ~ cacheBustString) | raw }}" + ")";
                    {% endif %}
                }
            </script>
        {% else %}
            {% if previewContext is not defined or previewContext != "sidebar" %}
                <div class="field">
                    <p class="warning">No Facebook Profile ID has been set. <a href="{{ cpUrl("seomatic/site/social") }}">Set it here.</a></p>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
