{% set ogTitleArray = seomatic.tag.get('og:title').renderAttributes() %}
{% set ogDescriptionArray = seomatic.tag.get('og:description').renderAttributes() %}
{% set ogImageArray = seomatic.tag.get('og:image').renderAttributes() %}
{% set canonicalArray = seomatic.link.get('canonical').renderAttributes() %}

{% set lg = false %}
{% if seomatic.meta.twitterCard == "summary_large_image" %}
    {% set lg = true %}
{% endif %}

{% set showSeoTitleNames = showSeoTitleNames ?? true %}
{% set previewElementId = previewElementId ?? 0 %}
<div class="preview-column">
    <div class="displaypreview" style="{{ displayPreviewInlineStyles ?? '' }}">
        {% if showSeoTitleNames %}
            <h4 class="metadata-title-separator"><span>Slack</span></h4>
        {% endif %}
        {% if lg %}
            <a class="seo-card-wrapper-link" href="{{ canonicalArray.href ?? siteUrl("/") }}" rel="noopener" target="_blank">
                <div class="card-seo-slack">
                    <div class="card-seo-slack__bar"></div>
                    <div class="card-seo-slack__content">
                        <div class="flex">
                            {#
                            <img class="card-seo-slack__favicon js-preview-favicon" src="">
                            #}
                            <span class="card-seo-slack__link js-preview-site-name">
                                {{ siteUrl | replace({'http://': ''}) | replace({'https://': ''})  | replace({'/': ''}) }}
                            </span>
                        </div>
                        <div class="card-seo-slack__title js-preview-title">
                            {{ (ogTitleArray.content ?? "") }}
                        </div>
                        <span class="card-seo-slack__description js-preview-description">
                            {{ (ogDescriptionArray.content ?? "") }}
                        </span>
                        <div class="card-seo-slack__image js-preview-image js-slack-image {{ previewElementId }}-Slack-post-image"></div>
                    </div>
                </div>
            </a>
        {% else %}
            <a class="seo-card-wrapper-link" href="{{ canonicalArray.href ?? siteUrl("/") }}" rel="noopener" target="_blank">
                <div class="card-seo-slack">
                    <div class="card-seo-slack__bar"></div>
                    <div class="card-seo-slack__content">
                        <div class="card-seo-slack__image card-seo-slack__image-summary js-preview-image js-slack-image {{ previewElementId }}-Slack-post-image"></div>
                        <div class="flex">
                            {#
                            <img class="card-seo-slack__favicon js-preview-favicon" src="">
                            #}
                            <span class="card-seo-slack__link js-preview-site-name">
                                {{ siteUrl | replace({'http://': ''}) | replace({'https://': ''})  | replace({'/': ''}) }}
                            </span>
                        </div>
                        <div class="card-seo-slack__title js-preview-title">
                            {{ (ogTitleArray.content ?? "") }}
                        </div>
                        <span class="card-seo-slack__description js-preview-description">
                            {{ (ogDescriptionArray.content ?? "") }}
                        </span>
                    </div>
                </div>
            </a>
        {% endif %}
        <script type="text/javascript">
            var x = document.getElementsByClassName("{{ previewElementId }}-Slack-post-image");
            var i;
            for (i = 0; i < x.length; i++) {
                x[i].style.backgroundImage = "url('" + "{{ baseAssetsUrl ~ '/img/no_image_set.png' }}" + "')";
                {% if ogImageArray.content is defined and ogImageArray.content |length %}
                {% set cacheBustString = "" %}
                x[i].style.backgroundImage = "url('" + "{{ (ogImageArray.content ~ cacheBustString) | raw }}" + "')";
                {% endif %}
            }
        </script>
    </div>
</div>
