{% extends "seomatic/_layouts/seomatic-cp.twig" %}

{% block head %}
    {{ parent() }}
    {% set tagOptions = {
        'depends': [
            'nystudio107\\seomatic\\assetbundles\\seomatic\\SeomaticAsset'
        ],
    } %}
    {{ seomatic.vite.register('src/js/seomatic-meta.js', false, tagOptions, tagOptions) }}
{% endblock %}

{% set navItems = {
    'heading': { heading: "Settings"|t },
} %}
{% if currentUser.can("seomatic:global-meta:general") %}
    {% set navItems = navItems |merge({
        general: {
            title: "General"|t("seomatic"),
        },
    }) %}
{% endif %}
{% if currentUser.can("seomatic:global-meta:twitter") %}
    {% set navItems = navItems |merge({
        twitter: {
            title: "X (Twitter)"|t("seomatic"),
        },
    }) %}
{% endif %}
{% if currentUser.can("seomatic:global-meta:facebook") %}
    {% set navItems = navItems |merge({
        facebook: {
            title: "Facebook"|t("seomatic"),
        },
    }) %}
{% endif %}
{% if currentUser.can("seomatic:global-meta:robots") %}
    {% set navItems = navItems |merge({
        robots: {
            title: "Robots"|t("seomatic"),
        },
    }) %}
{% endif %}
{% if currentUser.can("seomatic:global-meta:humans") %}
    {% set navItems = navItems |merge({
        humans: {
            title: "Humans"|t("seomatic"),
        },
    }) %}
{% endif %}
{% if currentUser.can("seomatic:global-meta:ads") %}
    {% set navItems = navItems |merge({
        ads: {
            title: "Ads"|t("seomatic"),
        },
    }) %}
{% endif %}
{% if currentUser.can("seomatic:global-meta:security") %}
    {% set navItems = navItems |merge({
        security: {
            title: "Security"|t("seomatic"),
        },
    }) %}
{% endif %}

{% set selectedItem = craft.app.request.getSegment(3)|default("general") %}

{% block sidebar %}
    <nav>
        <ul>
            {% for id, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li>
                        <a href="{{ url("seomatic/global/#{id}/#{currentSiteHandle}") }}"{% if id == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
