{#
/**
 * SEOmatic plugin for Craft CMS 3.x
 *
 * A turnkey SEO implementation for Craft CMS that is comprehensive, powerful,
 * and flexible
 *
 * @link      https://nystudio107.com
 * @copyright Copyright (c) 2017 nystudio107
 */
#}

{% import "_includes/forms" as forms %}

<div>

    {############### Element Preview Type ###############}

    {{ forms.selectField({
        label: "Element Preview Type"|t("seomatic"),
        instructions: "What type of preview to display for this field in the Element index table, if the field is added to the table columns."|t("seomatic"),
        id: "elementDisplayPreviewType",
        name: "elementDisplayPreviewType",
        options: {
            "none": "None"|t("seomatic"),
            "google": "Google"|t("seomatic"),
            "twitter": "Twitter"|t("seomatic"),
            "facebook": "Facebook"|t("seomatic"),
        },
        value: field.elementDisplayPreviewType,
        errors: field.getErrors("elementDisplayPreviewType"),
    }) }}

    {############### General tab settings ###############}

    <div class="field seomatic-script-wrapper">
        <div class="seomatic-script-lightswitch">
            {{ forms.lightswitchField({
                label: "General Tab"|t("seomatic"),
                instructions: "Controls whether to display the General SEO settings tab"|t("seomatic"),
                id: "generalTabEnabled",
                name: "generalTabEnabled",
                on: field.generalTabEnabled,
                warning: false,
                errors: field.getErrors("generalTabEnabled"),
            }) }}
        </div>
        <div class="seomatic-script-container" {% if not field.generalTabEnabled %}style="display: none;"{% endif %}>
            {{ forms.checkboxSelectField({
                instructions: "Choose the General SEO settings fields to display"|t,
                id: 'generalEnabledFields',
                name: 'generalEnabledFields',
                options: {
                    'seoPreview': 'SEO Preview'|t('seomatic'),
                    'mainEntityOfPage': 'Main Entity of Page'|t('seomatic'),
                    'seoTitle': 'SEO Title'|t('seomatic'),
                    'siteNamePosition': 'Site Name Position'|t('seomatic'),
                    'seoDescription': 'SEO Description'|t('seomatic'),
                    'seoKeywords': 'SEO Keywords'|t('seomatic'),
                    'seoImage': 'SEO Image'|t('seomatic'),
                    'seoImageTransform': 'Transform SEO Image'|t('seomatic'),
                    'seoImageTransformMode': 'SEO Image Transform Mode'|t('seomatic'),
                    'seoImageDescription': 'SEO Image Description'|t('seomatic'),
                    'robots': 'Robots'|t('seomatic'),
                    'canonicalUrl': 'Canonical URL'|t('seomatic'),
                },
                values: field.generalEnabledFields,
                warning: false,
                errors: field.getErrors("generalEnabledFields"),
            }) }}
        </div>
    </div>

    {############### Twitter tab settings ###############}

    <div class="field seomatic-script-wrapper">
        <div class="seomatic-script-lightswitch">
            {{ forms.lightswitchField({
                label: "Twitter Tab"|t("seomatic"),
                instructions: "Controls whether to display the Twitter SEO settings tab"|t("seomatic"),
                id: "twitterTabEnabled",
                name: "twitterTabEnabled",
                on: field.twitterTabEnabled,
                warning: false,
                errors: field.getErrors("twitterTabEnabled"),
            }) }}
        </div>
        <div class="seomatic-script-container" {% if not field.twitterTabEnabled %}style="display: none;"{% endif %}>
            {{ forms.checkboxSelectField({
                instructions: "Choose the Twitter SEO settings fields to display"|t,
                id: 'twitterEnabledFields',
                name: 'twitterEnabledFields',
                options: {
                    'seoPreview': 'SEO Preview'|t('seomatic'),
                    'twitterCardType': 'Twitter Card Type'|t('seomatic'),
                    'twitterCreator': 'Twitter Creator'|t('seomatic'),
                    'twitterTitle': 'Twitter Title'|t('seomatic'),
                    'twitterSiteNamePosition': 'Twitter Site Name Position'|t('seomatic'),
                    'twitterDescription': 'Twitter Description'|t('seomatic'),
                    'twitterImage': 'Twitter Image'|t('seomatic'),
                    'transformTwitterImage': 'Transform Twitter Image'|t('seomatic'),
                    'twitterImageTransformMode': 'Twitter Image Transform Mode'|t('seomatic'),
                    'twitterImageDescription': 'Twitter Image Description'|t('seomatic'),
                },
                values: field.twitterEnabledFields,
                warning: false,
                errors: field.getErrors("twitterEnabledFields"),
            }) }}
        </div>
    </div>


    {############### Facebook tab settings ###############}

    <div class="field seomatic-script-wrapper">
        <div class="seomatic-script-lightswitch">
            {{ forms.lightswitchField({
                label: "Facebook Tab"|t("seomatic"),
                instructions: "Controls whether to display the Facebook SEO settings tab"|t("seomatic"),
                id: "facebookTabEnabled",
                name: "facebookTabEnabled",
                on: field.facebookTabEnabled,
                warning: false,
                errors: field.getErrors("facebookTabEnabled"),
            }) }}
        </div>
        <div class="seomatic-script-container" {% if not field.facebookTabEnabled %}style="display: none;"{% endif %}>
            {{ forms.checkboxSelectField({
                instructions: "Choose the Facebook SEO settings fields to display"|t,
                id: 'facebookEnabledFields',
                name: 'facebookEnabledFields',
                options: {
                    'seoPreview': 'SEO Preview'|t('seomatic'),
                    'ogType': 'Facebook OpenGraph Type'|t('seomatic'),
                    'ogTitle': 'Facebook OpenGraph Title'|t('seomatic'),
                    'ogSiteNamePosition': 'Facebook OpenGraph Site Name Position'|t('seomatic'),
                    'ogDescription': 'Facebook OpenGraph Description'|t('seomatic'),
                    'ogImage': 'Facebook OpenGraph Image'|t('seomatic'),
                    'ogImageTransform': 'Transform Facebook OpenGraph Image'|t('seomatic'),
                    'ogImageTransformMode': 'Facebook OpenGraph Image Transform Mode'|t('seomatic'),
                    'ogImageDescription': 'Facebook OpenGraph Image Description'|t('seomatic'),
                },
                values: field.facebookEnabledFields,
                warning: false,
                errors: field.getErrors("facebookEnabledFields"),
            }) }}
        </div>
    </div>


    {############### Sitemap tab settings ###############}

    <div class="field seomatic-script-wrapper">
        <div class="seomatic-script-lightswitch">
            {{ forms.lightswitchField({
                label: "Sitemap Tab"|t("seomatic"),
                instructions: "Controls whether to display the Sitemap SEO settings tab"|t("seomatic"),
                id: "sitemapTabEnabled",
                name: "sitemapTabEnabled",
                on: field.sitemapTabEnabled,
                warning: false,
                errors: field.getErrors("sitemapTabEnabled"),
            }) }}
        </div>
        <div class="seomatic-script-container" {% if not field.sitemapTabEnabled %}style="display: none;"{% endif %}>
            {{ forms.checkboxSelectField({
                instructions: "Choose the Sitemap SEO settings fields to display"|t,
                id: 'sitemapEnabledFields',
                name: 'sitemapEnabledFields',
                options: {
                    'sitemapUrls': 'Sitemap Enabled'|t('seomatic'),
                    'sitemapAssets': 'Include Images & Videos in Sitemap'|t('seomatic'),
                    'sitemapFiles': 'Include Indexable Files in Sitemap'|t('seomatic'),
                    'sitemapAltLinks': 'Sitemap Alt URLs'|t('seomatic'),
                    'sitemapChangeFreq': 'Change Frequency'|t('seomatic'),
                    'sitemapPriority': 'Priority'|t('seomatic'),
                    'sitemapLimit': 'Sitemap Limit'|t('seomatic'),
                },
                values: field.sitemapEnabledFields,
                warning: false,
                errors: field.getErrors("sitemapEnabledFields"),
            }) }}
        </div>
    </div>

</div>
