{% set inheritedFrom = seomatic.helper.findInheritableBundle(parentBundles, "ogImage") %}
{% set hasInheritableValues = inheritedFrom is not null %}

{% set additionalVars = {
    'isInherited': seomatic.helper.isInherited(metaGlobalVars, "ogImage"),
    'fieldLabel': "Facebook OpenGraph Image Source"|t("seomatic"),
    'labelFor': 'metaBundleSettings-ogImageSource',
    'wrapperClass': 'seomatic-imageSourceInnerWrapper',
    'settingName': 'ogImage'
} %}

{% embed "seomatic/settings/_includes/fields/_inheritableField.twig" with additionalVars %}
    {% macro entireOgImageField(ogImageElement, elementType, imageOptions, field, assetFieldSources, imageCropModes, metaBundleSettings, metaGlobalVars, suffix, pageContext) %}
        <div class="field seomatic-imageSourceWrapper">
            <div class="field">
                {{ _self.ogImageField(ogImageElement, elementType, imageOptions, assetFieldSources, metaBundleSettings, metaGlobalVars, suffix, pageContext) }}
            </div>
            <div class="field seomatic-imageSourceNotFromUrl">
                {{ _self.ogImageTransformField(field, metaBundleSettings, suffix) }}
            </div>
            <div class="field seomatic-imageSourceNotFromUrl">
                {{ _self.ogImageTransformModeField(field, imageCropModes, metaBundleSettings, suffix) }}
            </div>
        </div>
    {% endmacro %}

    {% set imageOptions = {
        fromAsset: "Custom Image"|t("seomatic"),
        fromUrl: "Custom URL"|t("seomatic"),
    } %}
    {% if assetFieldSources is defined and assetFieldSources |length %}
        {% set imageOptions = { fromField: "From Asset Field"|t("seomatic"), } | merge(imageOptions) %}
    {% endif %}
    {% set imageOptions = { sameAsSeo: "Same As SEO Image"|t("seomatic"), } | merge(imageOptions) %}

    {% set imageCropModes = {
        "crop": "Crop"|t("seomatic"),
        "fit": "Fit"|t("seomatic"),
        "stretch": "Stretch"|t("seomatic"),
    } %}

    {% if pageContext == "field" %}
        {% set imageCropModes = { "": ""} | merge(imageCropModes) %}
    {% endif %}

    {% block inheritedValues %}
        {% set ogImageElement = [] %}
        {% set imageIds = inheritedFrom.metaBundleSettings.ogImageIds ?? metaBundleSettings.ogImageIds ?? null %}
        {% if imageIds %}
            {% set ogImageElement = craft.assets.id(imageIds).limit(1).all() %}
        {% endif %}

        {{ _self.entireOgImageField(ogImageElement, elementType, imageOptions, field|default(null), assetFieldSources, imageCropModes, inheritedFrom.metaBundleSettings ?? metaBundleSettings, inheritedFrom.metaGlobalVars ?? metaGlobalVars, "-inherited", pageContext) }}
    {% endblock %}

    {% block field %}
        {% set ogImageElement = [] %}
        {% if metaBundleSettings.ogImageIds|length %}
            {% set ogImageElement = craft.assets.id(metaBundleSettings.ogImageIds).limit(1).all() %}
        {% endif %}

        {{ _self.entireOgImageField(ogImageElement, elementType, imageOptions, field|default(null), assetFieldSources, imageCropModes, metaBundleSettings, metaGlobalVars, "", pageContext) }}
    {% endblock %}

    {# ############## OpenGraph Image Macros ############## #}

    {% macro ogImageTransformModeField(field, imageCropModes, metaBundleSettings, suffix) %}
        {% import "_includes/forms" as forms %}
        {% set disabled = suffix|length > 0 %}
        <div class="og-image-transform-settings{% if not metaBundleSettings.ogImageTransform %} hidden{% endif %}">
            <div class="field"
                 {% if field is not null and 'ogImageTransformMode' not in field.facebookEnabledFields %}style="display: none;"{% endif %}>
                <div class="heading">
                    <label for="metaBundleSettings-ogImageTransformMode{{ suffix }}">
                        {{ "Facebook OpenGraph Image Transform Mode"|t("seomatic") }}
                    </label>
                </div>
                <div class="instructions">
                    <p>{{ "The transform mode to use for the Facebook OpenGraph Image Transform."|t("seomatic") }}</p>
                </div>
                {% namespace "metaBundleSettings" %}
                    {{ forms.selectField({
                        id: "ogImageTransformMode" ~ suffix,
                        name: "ogImageTransformMode",
                        options: imageCropModes,
                        value: metaBundleSettings.ogImageTransformMode,
                        warning: false,
                        errors: metaBundleSettings.getErrors("ogImageTransformMode"),
                        disabled: disabled,
                    }) }}
                {% endnamespace %}
            </div>
        </div>
    {% endmacro %}

    {% macro ogImageTransformField(field, metaBundleSettings, suffix) %}
        {% import "_includes/forms" as forms %}
        {% set disabled = suffix|length > 0 %}

        <div class="field"
             {% if field is not null and 'ogImageTransform' not in field.facebookEnabledFields %}style="display: none;"{% endif %}>
            <div class="heading">
                <label for="metaBundleSettings-ogImageTransform{{ suffix }}">
                    {{ "Transform Facebook OpenGraph Image"|t("seomatic") }}
                </label>
            </div>
            {% namespace "metaBundleSettings" %}
                {{ forms.lightswitchField({
                    id: "ogImageTransform" ~ suffix,
                    name: "ogImageTransform",
                    instructions: "Whether the Facebook OpenGraph image should be automatically transformed to an appropriate file format and aspect ratio for Facebook."|t("seomatic"),
                    on: metaBundleSettings.ogImageTransform,
                    warning: false,
                    errors: metaBundleSettings.getErrors("ogImageTransform"),
                    disabled: disabled,
                    toggle: ".og-image-transform-settings",
                }) }}
            {% endnamespace %}
        </div>
    {% endmacro %}

    {% macro ogImageField(ogImageElement, elementType, imageOptions, assetFieldSources, metaBundleSettings, metaGlobalVars, suffix, pageContext) %}
        {% set disabled = suffix|length > 0 %}
        <div class="instructions">
            <p>{{ "This is the image that will be used for display on Facebook posts that link to the web page."|t("seomatic") }}</p>
        </div>

        {% import "_includes/forms" as forms %}
        {% import 'codeeditor/codeEditor' as codeEditor %}

        {% namespace "metaBundleSettings" %}
            <div class="heading">
                {{ forms.select({
                    id: "ogImageSource" ~ suffix,
                    name: "ogImageSource",
                    options: imageOptions,
                    value: metaBundleSettings.ogImageSource,
                    class: "seomatic-imageSourceSelect",
                    errors: metaBundleSettings.getErrors("ogImageSource"),
                    disabled: disabled,
                }) }}
            </div>
        {% endnamespace %}

        {% if assetFieldSources is defined and assetFieldSources |length %}
            {% namespace "metaBundleSettings" %}
                <div class="heading seomatic-imageSourceFromField">
                    <label for="metaBundleSettings-ogImageField{{ suffix }}">{{ "Asset Field: "|t("seomatic") }}</label>
                    {{ forms.select({
                        id: "ogImageField" ~ suffix,
                        name: "ogImageField",
                        options: assetFieldSources,
                        value: metaBundleSettings.ogImageField,
                        errors: metaBundleSettings.getErrors("ogImageField"),
                        disabled: disabled,
                    }) }}
                </div>
            {% endnamespace %}
        {% endif %}

        {% namespace "metaBundleSettings" %}
            <div class="heading seomatic-imageSourceFromAsset">
                {{ forms.elementSelect({
                    id: "ogImageIds-" ~ random(),
                    name: "ogImageIds",
                    viewMode: "large",
                    elements: ogImageElement,
                    elementType: elementType,
                    criteria: {
                        kind: ["image"],
                    },
                    jsClass: 'Craft.AssetSelectInput',
                    selectionLabel: "Select Facebook OpenGraph Image"|t("seomatic"),
                    sources: null,
                    limit: 1,
                    warning: false,
                    errors: metaBundleSettings.getErrors("ogImageIds"),
                    disabled: disabled,
                }) }}
            </div>
        {% endnamespace %}

        {% namespace "metaGlobalVars" %}
            <div class="input ltr seomatic-imageSourceFromUrl">
                {% if pageContext != "field" %}
                    {{ codeEditor.textField({
                        id: "ogImage" ~ suffix,
                        name: "ogImage",
                        value: metaGlobalVars.ogImage,
                        warning: false,
                        errors: metaGlobalVars.getErrors("ogImage"),
                        disabled: disabled,
                    }, "SeomaticExpressionField", {}, {wrapperClass: "monaco-editor-background-frame"}) }}
                {% else %}
                    {{ forms.text({
                        id: "ogImage" ~ suffix,
                        name: "ogImage",
                        value: metaGlobalVars.ogImage,
                        class: "nicetext",
                        warning: false,
                        errors: metaBundleSettings.getErrors("ogImage"),
                        disabled: disabled,
                    }) }}
                {% endif %}
            </div>
        {% endnamespace %}
    {% endmacro %}

{% endembed %}
