{% from "seomatic/settings/_includes/macros.twig" import configWarning %}
{% import "_includes/forms" as forms %}

<div class="field">
    <div class="heading">
        <label for="siteType">{{ mainEntityTitle|t("seomatic")}}</label>
        <div class="instructions"><p>{{ mainEntityDescription ~ " Choose as general or specific of an type as you wish.  Leave a sub-type blank if you don't want to specify a sub-type." |t("seomatic") |raw}}</p></div>
    </div>
    <div>
        <div class="inline-item">
            {{ forms.selectField({
                id: "siteType",
                class: "inline-item",
                fieldClass: "inline-item",
                options: seomatic.helper.getSingleTypeMenu(''),
                name: "siteType",
                value: mainEntityOfPage.siteType,
                required: true,
                errors: mainEntityOfPage.getErrors("siteType"),
            }) }}
        </div>
        <div class="inline-item">
            {{ forms.selectField({
                id: "siteSubType",
                label: "&rarr;",
                class: "inline-item",
                fieldClass: "inline-item",
                options: {"none": ""} |merge(seomatic.helper.getSingleTypeMenu(mainEntityOfPage.siteType ?? '')),
                name: "siteSubType",
                value: mainEntityOfPage.siteSubType,
                required: false,
                errors: mainEntityOfPage.getErrors("siteSubType"),
            }) }}
        </div>
        <div class="inline-item">
            {{ forms.selectField({
                id: "siteSpecificType",
                label: "&rarr;",
                class: "inline-item",
                fieldClass: "inline-item",
                options: {"none": ""} |merge(seomatic.helper.getTypeMenu((mainEntityOfPage.siteType ?? '') ~ '.' ~ (mainEntityOfPage.siteSubType ?? ''))),
                name: "siteSpecificType",
                value: mainEntityOfPage.siteSpecificType,
                required: false,
                errors: mainEntityOfPage.getErrors("siteSpecificType"),
            }) }}
        </div>
        <div class="inline-item">
            <div class="inline-item inline-item-padding seomaticSchemaInfo">
            </div>
        </div>
    </div>
</div>


{% js %}
    // Fill in the dynamic schema menus
    var siteTypeId = '{{ "siteType" |namespaceInputId }}';
    var siteSubTypeId = '{{ "siteSubType" |namespaceInputId }}';
    var siteSpecificTypeId = '{{ "siteSpecificType" |namespaceInputId }}';

    // Update the Schema.org info link
    function updateInfoLink() {
        var selectValue = $('#'+siteSpecificTypeId + ' option:selected').text() || $('#'+siteSubTypeId + ' option:selected').text() || $('#'+siteTypeId + ' option:selected').text();
        // Remove any whitepsace, including encoded &nbsp; characters
        selectValue = selectValue.replace(/\s/g, '');
        $('.seomaticSchemaInfo').html("<a href='http://schema.org/" + selectValue + "' target='_blank'>" + selectValue + " info...</a>");
    }
    
    // Initially hide all of the meta panes
    $('.metaPane').hide();
    $('.metaSubPane').hide();
    $('.metaSpecificPane').hide();
    updateInfoLink();
    
    // Show any panes that should be visible based on the chosen type
    {% if mainEntityOfPage.siteType |length %}
        $('.metaPane.{{ mainEntityOfPage.siteType }}').show();
    {% endif %}
    {% if mainEntityOfPage.siteSubType |length %}
        $('.metaSubPane.{{ mainEntityOfPage.siteSubType }}').show();
    {% endif %}
    {% if mainEntityOfPage.siteSpecificType |length %}
        $('.metaSpecificPane.{{ mainEntityOfPage.siteSpecificType }}').show();
    {% endif %}

    // Hide the sub-type menus as appropriate
    if ($('#' + siteSubTypeId + ' option').length <= 1) {
        $('#'+siteSubTypeId+'-field').hide();
        $('#'+siteSubTypeId).val('none');
    }
    if ($('#' + siteSpecificTypeId + ' option').length <= 1) {
        $('#'+siteSpecificTypeId+'-field').hide();
        $('#'+siteSpecificTypeId).val('none');
    }

    // Handle clicks on the siteType schema menu
    $('#'+siteTypeId).on('change', function(e) {
        var path = $('#'+siteTypeId).val();
        var value = $('#'+siteTypeId).val();
        $('.metaPane').hide();
        $('.metaPane.' + value).show();
        fillDynamicSchemaMenu(siteSubTypeId, '', path, false, true, function() {
            if ($('#' + siteSubTypeId + ' option').length <= 1) {
                $('#'+siteSubTypeId+'-field').hide();
                $('#'+siteSubTypeId).val('none');
            } else {
                $('#'+siteSubTypeId+'-field').show();
            }
            $('#'+siteSpecificTypeId+'-field').hide();
            $('#'+siteSpecificTypeId).val('none');
        });
        $('#'+siteSpecificTypeId).val('none');
        updateInfoLink();
    });

    // Handle clicks on the siteSubType schema menu
    $('#'+siteSubTypeId).on('change', function(e) {
        var path = $('#'+siteTypeId).val() + '.' + $('#'+siteSubTypeId).val();
        var value = $('#'+siteSubTypeId).val();
        $('.metaSubPane').hide();
        $('.metaSubPane.' + value).show();
        fillDynamicSchemaMenu(siteSpecificTypeId, '', path, true, true, function() {
            if ($('#' + siteSpecificTypeId + ' option').length <= 1) {
                $('#'+siteSpecificTypeId+'-field').hide();
                $('#'+siteSpecificTypeId).val('none');
            } else {
                $('#'+siteSpecificTypeId+'-field').show();
            }
        });
        updateInfoLink();
    });

    // Handle clicks on the siteSpecificType schema menu
    $('#'+siteSpecificTypeId).on('change', function(e) {
        var value = $('#'+siteSpecificTypeId).val();
        $('.metaSpecificPane').hide();
        $('.metaSpecificPane.' + value).show();
        updateInfoLink();
    });
{% endjs %}
