{% import "_includes/forms" as forms %}

{% set baseUrl = "seomatic/#{controllerHandle}/" %}
{% set params = [] %}

{% if showSites %}
    <a id="sites-btn" class="crumb-link" data-icon="world"> {{ sitesMenuLabel }} </a>
    <button type="button" class="btn menubtn" aria-label="Select site" aria-controls="language-menu"
            data-disclosure-trigger="" aria-expanded="false"></button>

    <div id="language-menu" class="padded menu">
        {% set siteGroups = craft.app.sites.getAllGroups() %}
        {% for group in siteGroups %}
            {% set groupSiteIds = group.getSiteIds()|intersect(siteIds) %}
            {% if groupSiteIds %}
                {% if siteGroups|length > 1 %}<h6>{{ group.name|t('site') }}</h6>{% endif %}
                <ul class="padded">
                    {% for siteId in groupSiteIds %}
                        {% set site = craft.app.sites.getSiteById(siteId) %}
                        {% set status = siteId in enabledSiteIds ? 'enabled' : 'disabled' %}
                        <li>
                            {% if siteId == currentSiteId %}
                                <a class="menu-item sel" aria-selected="true">
                                    <div class="status {{ status }}"></div>{{ site.name|t('site') }}
                                </a>
                            {% else %}
                                {% set url = url(baseUrl~site.handle, params) %}
                                {% if status == "enabled" %}
                                    <a class="menu-item" href="{{ url }}">
                                        <div class="status {{ status }}"></div>{{ site.name|t('site') }}
                                    </a>
                                {% else %}
                                    <div class="menu-item"
                                         style="color: #b9bfc6; margin: 0 -14px; padding: 10px 14px 10px 24px;">
                                        <div class="status {{ status }}"></div>{{ site.name|t('site') }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
