{% from "seomatic/settings/_includes/macros.twig" import configWarning %}
{% import "_includes/forms" as forms %}

<h4 class="heading">{{ "SEO Preview:" |t('seomatic') }}</h4>
{% include "seomatic/_includes/twitterPreview.twig" %}
{% namespace "globals" %}

    {{ forms.selectField({
        label: "Twitter Card Type" |t("seomatic"),
        instructions: "With Twitter Cards, you can attach rich photos and information to Tweets that drive traffic to your website. Users who Tweet links to your content will have a 'Card' added to the Tweet that’s visible to all of their followers." |t("seomatic"),
        id: "twitterCard",
        name: "twitterCard",
        options: {
            summary: "Summary Card" |t("seomatic"),
            summary_large_image: "Summary Card with Large Image" |t("seomatic"),
            app: "App Card" |t("seomatic"),
            player: "Player Card" |t("seomatic"),
        },
        value: globals.twitterCard,
    }) }}

    {{ forms.textField({
        label: "Twitter Creator" |t("seomatic"),
        instructions: "Twitter username for the content creator / author, without the preceding @." |t("seomatic"),
        id: "twitterCreator",
        name: "twitterCreator",
        value: globals.twitterCreator,
        class: "nicetext",
        warning: false,
    }) }}

    {{ forms.textField({
        label: "Twitter Title" |t("seomatic"),
        instructions: "Make sure your title tag is explicit and contains your most important keywords. Be sure that each page has a unique title tag." |t("seomatic"),
        id: "twitterTitle",
        name: "twitterTitle",
        value: globals.twitterTitle,
        class: "nicetext",
        maxlength: seomatic.config.maxTitleLength,
        showCharsLeft: true,
        warning: false,
    }) }}
    
    {{ forms.selectField({
        label: "Twitter Site Name Position" |t("seomatic"),
        instructions: "Where the Site Name is placed relative to the Twitter Title in the &lt;twitter:title&gt; tag" |t("seomatic"),
        id: "twitterSiteNamePosition",
        name: "twitterSiteNamePosition",
        options: {
            before: "Before" |t("seomatic"),
            after: "After" |t("seomatic"),
            none: "None" |t("seomatic"),
        },
        value: globals.twitterSiteNamePosition,
        warning: false,
    }) }}
    
    {{ forms.textAreaField({
        label: "Twitter Description" |t("seomatic"),
        instructions: "SEO descriptions allow you to influence how your web pages are described and displayed in search results. Ensure that all of your web pages have a unique meta description that is explicit and contains your most important keywords." |t("seomatic"),
        id: "twitterDescription",
        name: "twitterDescription",
        value: globals.twitterDescription,
        class: "nicetext",
        maxlength: 200,
        showCharsLeft: true,
        warning: false,
    }) }}
{% endnamespace %}

{% namespace "globals" %}
    {{ forms.textField({
        label: "Twitter Image URL" |t("seomatic"),
        instructions: "This is the image that will be used for display as the global website brand, as well as on Twitter Cards and Facebook OpenGraph that link to the website, if they are not specified. The image must be in JPG, PNG, or GIF format." |t("seomatic"),
        id: "twitterImage",
        name: "twitterImage",
        value: globals.twitterImage,
        class: "nicetext",
        warning: false,
    }) }}
{% endnamespace %}

{% namespace "settings" %}
    {{ forms.elementSelectField({
        label: "Twitter Image"|t("seomatic"),
        instructions: "This is the image that will be used for display as the global website brand, as well as on Twitter Cards and Facebook OpenGraph that link to the website, if they are not specified. The image must be in JPG, PNG, or GIF format." |t("seomatic"),
        id: "twitterImageIds",
        name: "twitterImageIds",
        viewMode: "large",
        elements: twitterImageElements,
        elementType: elementType,
        criteria: {
            kind: ["image"],
        },
        jsClass: 'Craft.AssetSelectInput',
        selectionLabel: "Select Twitter Image" |t("seomatic"),
        sources: [],
        limit: 1,
        warning: false,
    }) }}
{% endnamespace %}

{% namespace "globals" %}
    {{ forms.textAreaField({
        label: "Twitter Image Description" |t("seomatic"),
        instructions: "Description of the Twitter Image" |t("seomatic"),
        id: "twitterImageDescription",
        name: "twitterImageDescription",
        value: globals.twitterImageDescription,
        class: "nicetext",
        maxlength: 420,
        showCharsLeft: true,
        warning: false,
    }) }}
{% endnamespace %}