{% from "seomatic/settings/_includes/macros.twig" import configWarning %}
{% import "_includes/forms" as forms %}

<h4 class="heading">{{ "SEO Preview:" |t('seomatic') }}</h4>
{% include "seomatic/_includes/googlePreview.twig" %}

{% set textOptions = {
    fromCustom: "Custom Text" |t("seomatic"),
} %}
{% if textFieldSources is defined and textFieldSources |length %}
    {% set textOptions = { fromField: "From Field" |t("seomatic"), } | merge(textOptions) %}
{% endif %}

{############### SEO Title ###############}

<div class="field seomatic-textSourceWrapper" id="settings-seoTitleSource-field">
    <div class="heading">
        <label id="settings-seoTitleSource-label" for="settings-seoTitleSource">{{ "SEO Title Source" |t("seomatic") }}</label>
        <div class="instructions"><p>{{ "Make sure your title tag is explicit and contains your most important keywords. Be sure that each page has a unique title tag." |t("seomatic") }}</p>
        </div>
    </div>
    {% namespace "settings" %}
        <div class="heading">
            {{ forms.select({
                id: "seoTitleSource",
                name: "seoTitleSource",
                options: textOptions,
                value: settings.seoTitleSource,
                class: "seomatic-textSourceSelect",
                errors: settings.getErrors("seoTitleSource"),
            }) }}
        </div>
    {% endnamespace %}

    {% if textFieldSources is defined and textFieldSources |length %}
        {% namespace "settings" %}
            <div class="heading seomatic-textSourceFromField">
                <label id="settings-seoTitleField-label" for="settings-seoTitleField">{{ "Source Field: " |t("seomatic") }}</label>
                {{ forms.select({
                    id: "seoTitleField",
                    name: "seoTitleField",
                    options: textFieldSources,
                    value: settings.seoTitleField,
                    errors: settings.getErrors("seoTitleField"),
                }) }}
            </div>
        {% endnamespace %}
    {% endif %}

    {% namespace "globals" %}
        <div class="heading seomatic-textSourceFromUrl">
            {{ forms.text({
                id: "seoTitle",
                name: "seoTitle",
                value: globals.seoTitle,
                class: "nicetext",
                maxlength: seomatic.config.maxTitleLength,
                showCharsLeft: true,
                warning: false,
                errors: globals.getErrors("seoTitle"),
            }) }}
        </div>
    {% endnamespace %}
</div>

{############### Site Name Position ###############}

{% set textOptions = {
    fromCustom: "Custom Position" |t("seomatic"),
} %}
{% set positionSuffix = "" %}
{% if pageContext == "content" %}
    {% set positionSuffix = " Source" %}
    {% set textOptions = { sameAsGlobal: "Same as Global Site Name Position" |t("seomatic"), } | merge(textOptions) %}
{% endif %}

<div class="field seomatic-textSourceWrapper" id="settings-siteNamePositionSource-field">
    <div class="heading">
        <label id="settings-siteNamePositionSource-label" for="settings-siteNamePositionSource">{{ "Site Name Position#{positionSuffix}" |t("seomatic") }}</label>
        <div class="instructions">{{ ("Where the Site Name is placed relative to the Title in the &lt;title&gt; tag. The Site Name is set in [Site Settings](" ~ cpUrl('seomatic/site') ~ ")") |t("seomatic") |markdown }}
        </div>
    </div>
    {% namespace "settings" %}
        <div class="heading" {% if pageContext == "global" %}style="display: none;"{% endif %}#}>
            {{ forms.select({
                id: "siteNamePositionSource",
                name: "siteNamePositionSource",
                options: textOptions,
                value: settings.siteNamePositionSource,
                class: "seomatic-textSourceSelect",
                errors: settings.getErrors("siteNamePositionSource"),
            }) }}
        </div>
    {% endnamespace %}

    {% namespace "globals" %}
    <div class="heading seomatic-textSourceFromUrl">
        {{ forms.selectField({
            id: "siteNamePosition",
            name: "siteNamePosition",
            options: {
                before: "Before" |t("seomatic"),
                after: "After" |t("seomatic"),
                none: "None" |t("seomatic"),
            },
            value: globals.siteNamePosition,
            warning: false,
            errors: globals.getErrors("siteNamePosition"),
        }) }}
    </div>
</div>
{% endnamespace %}

{############### SEO Description ###############}

{% set textOptions = {
    fromCustom: "Custom Text" |t("seomatic"),
} %}
{% if textFieldSources is defined and textFieldSources |length %}
    {% set textOptions = { summaryFromField: "Summary From Field" |t("seomatic"), } | merge(textOptions) %}
    {% set textOptions = { fromField: "From Field" |t("seomatic"), } | merge(textOptions) %}
{% endif %}

<div class="field seomatic-textSourceWrapper" id="settings-seoDescriptionSource-field">
    <div class="heading">
        <label id="settings-seoDescriptionSource-label" for="settings-seoDescriptionSource">{{ "SEO Description Source" |t("seomatic") }}</label>
        <div class="instructions"><p>{{ "SEO descriptions allow you to influence how your web pages are described and displayed in search results. Ensure that all of your web pages have a unique meta description that is explicit and contains your most important keywords." |t("seomatic") }}</p>
        </div>
    </div>
    {% namespace "settings" %}
        <div class="heading">
            {{ forms.select({
                id: "seoDescriptionSource",
                name: "seoDescriptionSource",
                options: textOptions,
                value: settings.seoDescriptionSource,
                class: "seomatic-textSourceSelect",
                errors: settings.getErrors("seoDescriptionSource"),
            }) }}
        </div>
    {% endnamespace %}

    {% if textFieldSources is defined and textFieldSources |length %}
        {% namespace "settings" %}
            <div class="heading seomatic-textSourceFromField">
                <label id="settings-seoDescriptionField-label" for="settings-seoDescriptionField">{{ "Source Field: " |t("seomatic") }}</label>
                {{ forms.select({
                    id: "seoDescriptionField",
                    name: "seoDescriptionField",
                    options: textFieldSources,
                    value: settings.seoDescriptionField,
                    errors: settings.getErrors("seoDescriptionField"),
                }) }}
            </div>
        {% endnamespace %}
    {% endif %}

    {% namespace "globals" %}
        <div class="heading seomatic-textSourceFromUrl">
            {{ forms.textArea({
                id: "seoDescription",
                name: "seoDescription",
                value: globals.seoDescription,
                class: "nicetext",
                maxlength: seomatic.config.maxDescriptionLength,
                showCharsLeft: true,
                warning: false,
                errors: globals.getErrors("seoDescription"),
            }) }}
        </div>
    {% endnamespace %}
</div>

{############### SEO Keywords ###############}

{% set textOptions = {
    fromCustom: "Custom Text" |t("seomatic"),
} %}
{% if textFieldSources is defined and textFieldSources |length %}
    {% set textOptions = { keywordsFromField: "Keywords From Field" |t("seomatic"), } | merge(textOptions) %}
    {% set textOptions = { fromField: "From Field" |t("seomatic"), } | merge(textOptions) %}
{% endif %}

<div class="field seomatic-textSourceWrapper" id="settings-seoKeywordsSource-field">
    <div class="heading">
        <label id="settings-seoKeywordsSource-label" for="settings-seoKeywordsSource">{{ "SEO Keywords Source" |t("seomatic") }}</label>
        <div class="instructions"><p>{{ "Google ignores SEO Keywords tag; though other search engines do look at it. Utilize it carefully, as improper or spammy use most likely will hurt you, or even have your site marked as spam." |t("seomatic") }}</p>
        </div>
    </div>
    {% namespace "settings" %}
        <div class="heading">
            {{ forms.select({
                id: "seoKeywordsSource",
                name: "seoKeywordsSource",
                options: textOptions,
                value: settings.seoKeywordsSource,
                class: "seomatic-textSourceSelect",
                errors: settings.getErrors("seoKeywordsSource"),
            }) }}
        </div>
    {% endnamespace %}

    {% if textFieldSources is defined and textFieldSources |length %}
        {% namespace "settings" %}
            <div class="heading seomatic-textSourceFromField">
                <label id="settings-seoKeywordsField-label" for="settings-seoKeywordsField">{{ "Source Field: " |t("seomatic") }}</label>
                {{ forms.select({
                    id: "seoKeywordsField",
                    name: "seoKeywordsField",
                    options: textFieldSources,
                    value: settings.seoKeywordsField,
                    errors: settings.getErrors("seoKeywordsField"),
                }) }}
            </div>
        {% endnamespace %}
    {% endif %}

    {% namespace "globals" %}
        <div class="heading seomatic-textSourceFromUrl">
            {{ forms.textArea({
                id: "seoKeywords",
                name: "seoKeywords",
                value: globals.seoKeywords,
                class: "seomatic-keywords nicetext",
                maxlength: seomatic.config.maxDescriptionLength,
                showCharsLeft: true,
                warning: false,
                errors: globals.getErrors("seoKeywords"),
            }) }}
        </div>
    {% endnamespace %}
</div>

{% include "seomatic/settings/_includes/seo-image-partial.twig" %}

{############### SEO Image Description ###############}

{% set textOptions = {
    fromCustom: "Custom Text" |t("seomatic"),
} %}
{% if textFieldSources is defined and textFieldSources |length %}
    {% set textOptions = { summaryFromField: "Summary From Field" |t("seomatic"), } | merge(textOptions) %}
    {% set textOptions = { fromField: "From Field" |t("seomatic"), } | merge(textOptions) %}
{% endif %}
<div class="field seomatic-textSourceWrapper" id="settings-seoImageDescriptionSource-field">
    <div class="heading">
        <label id="settings-seoImageDescriptionSource-label" for="settings-seoImageDescriptionSource">{{ "SEO Image Description Source" |t("seomatic") }}</label>
        <div class="instructions"><p>{{ "A text description of the image conveying the essential nature of an image to users who are visually impaired." |t("seomatic") }}</p>
        </div>
    </div>
    {% namespace "settings" %}
        <div class="heading">
            {{ forms.select({
                id: "seoImageDescriptionSource",
                name: "seoImageDescriptionSource",
                options: textOptions,
                value: settings.seoImageDescriptionSource,
                class: "seomatic-textSourceSelect",
                errors: settings.getErrors("seoImageDescriptionSource"),
            }) }}
        </div>
    {% endnamespace %}

    {% if textFieldSources is defined and textFieldSources |length %}
        {% namespace "settings" %}
            <div class="heading seomatic-textSourceFromField">
                <label id="settings-seoImageDescriptionField-label" for="settings-seoImageDescriptionField">{{ "Source Field: " |t("seomatic") }}</label>
                {{ forms.select({
                    id: "seoImageDescriptionField",
                    name: "seoImageDescriptionField",
                    options: textFieldSources,
                    value: settings.seoImageDescriptionField,
                    errors: settings.getErrors("seoImageDescriptionField"),
                }) }}
            </div>
        {% endnamespace %}
    {% endif %}

    {% namespace "globals" %}
        <div class="heading seomatic-textSourceFromUrl">
            {{ forms.textArea({
                id: "seoImageDescription",
                name: "seoImageDescription",
                value: globals.seoImageDescription,
                class: "nicetext",
                maxlength: seomatic.config.maxDescriptionLength,
                showCharsLeft: true,
                warning: false,
                errors: globals.getErrors("seoImageDescription"),
            }) }}
        </div>
    {% endnamespace %}
</div>

{############### Robots ###############}

{% namespace "globals" %}
    {{ forms.selectField({
        label: "Robots" |t("seomatic"),
        instructions: "The robots meta tag lets you utilize a granular, page-specific approach to controlling how an individual page should be indexed and served to users in search results." |t("seomatic"),
        id: "robots",
        name: "robots",
        options: {
            all: "All - Index this page and follow links (default)" |t("seomatic"),
            none: "None - Do not index or follow links on this page" |t("seomatic"),
            noindex: "No Index - Do not index this page" |t("seomatic"),
            nofollow: "No Follow - Do not follow links on this page" |t("seomatic"),
            nosnippet: "No Snippet - Do not show rich snippets from this page" |t("seomatic"),
            noarchive: "No Archive - Do not archived a cached version of this page" |t("seomatic"),
            noimageindex : "No Image Index - Do not index images on this page" |t("seomatic"),
        },
        value: globals.robots,
        errors: globals.getErrors("robots"),
    }) }}
{% endnamespace %}

{############### Canonical URL ###############}

{% namespace "globals" %}
    {{ forms.textField({
        label: "Canonical URL" |t("seomatic"),
        instructions: "Canonical URL" |t("seomatic"),
        id: "canonicalUrl",
        name: "canonicalUrl",
        value: globals.canonicalUrl,
        class: "nicetext",
        warning: false,
        errors: globals.getErrors("canonicalUrl"),
    }) }}
{% endnamespace %}
