{% from "seomatic/settings/_includes/macros.twig" import configWarning %}
{% import "_includes/forms" as forms %}

<h4 class="heading">{{ "SEO Preview:" |t('seomatic') }}</h4>
{% include "seomatic/_includes/facebookPreview.twig" %}
{% namespace "globals" %}

    {{ forms.textField({
        label: "Facebook OpenGraph Title" |t("seomatic"),
        instructions: "Make sure your title tag is explicit and contains your most important keywords. Be sure that each page has a unique title tag." |t("seomatic"),
        id: "ogTitle",
        name: "ogTitle",
        value: globals.ogTitle,
        class: "nicetext",
        maxlength: seomatic.config.maxTitleLength,
        showCharsLeft: true,
        warning: false,
    }) }}

    {{ forms.textAreaField({
        label: "Facebook OpenGraph Description" |t("seomatic"),
        instructions: "SEO descriptions allow you to influence how your web pages are described and displayed in search results. Ensure that all of your web pages have a unique meta description that is explicit and contains your most important keywords." |t("seomatic"),
        id: "ogDescription",
        name: "ogDescription",
        value: globals.ogDescription,
        class: "nicetext",
        maxlength: 300,
        showCharsLeft: true,
        warning: false,
    }) }}
{% endnamespace %}

{% namespace "settings" %}
    {{ forms.elementSelectField({
        label: "Facebook OpenGraph Image"|t("seomatic"),
        instructions: "This is the image that will be used for display as the global website brand, as well as on Twitter Cards and Facebook OpenGraph that link to the website, if they are not specified. The image must be in JPG, PNG, or GIF format." |t("seomatic"),
        id: "ogImageIds",
        name: "ogImageIds",
        viewMode: "large",
        elements: ogImageElements,
        elementType: elementType,
        criteria: {
            kind: ["image"],
        },
        jsClass: 'Craft.AssetSelectInput',
        selectionLabel: "Select Facebook OpenGraph Image" |t("seomatic"),
        sources: [],
        limit: 1,
        warning: false,
    }) }}
{% endnamespace %}

{% namespace "globals" %}
    {{ forms.textAreaField({
        label: "Facebook OpenGraph Image Description" |t("seomatic"),
        instructions: "Description of the Facebook OpenGraph Image" |t("seomatic"),
        id: "ogImageDescription",
        name: "ogImageDescription",
        value: globals.ogImageDescription,
        class: "nicetext",
        maxlength: 420,
        showCharsLeft: true,
        warning: false,
    }) }}
{% endnamespace %}