{% from "seomatic/settings/_includes/macros.twig" import configWarning %}
{% import "_includes/forms" as forms %}

<h4 class="heading">{{ "SEO Preview:" |t('seomatic') }}</h4>
{% include "seomatic/_includes/twitterPreview.twig" %}

{############### Twitter Card Type ###############}

{% namespace "globals" %}
    {{ forms.selectField({
        label: "Twitter Card Type" |t("seomatic"),
        instructions: "With Twitter Cards, you can attach rich photos and information to Tweets that drive traffic to your website. Users who Tweet links to your content will have a 'Card' added to the Tweet that’s visible to all of their followers." |t("seomatic"),
        id: "twitterCard",
        name: "twitterCard",
        options: {
            summary: "Summary Card" |t("seomatic"),
            summary_large_image: "Summary Card with Large Image" |t("seomatic"),
            app: "App Card" |t("seomatic"),
            player: "Player Card" |t("seomatic"),
        },
        value: globals.twitterCard,
    }) }}
{% endnamespace %}

{############### Twitter Creator ###############}

{% set textOptions = {
    fromCustom: "Custom Text" |t("seomatic"),
} %}
{% if userFieldSources is defined and userFieldSources |length %}
    {% set textOptions = { fromUserField: "From User Field" |t("seomatic"), } | merge(textOptions) %}
{% endif %}
{% set textOptions = { sameAsSiteTwitter: "Same as Site Twitter Handle" |t("seomatic"), } | merge(textOptions) %}

<div class="field seomatic-textSourceWrapper" id="settings-twitterCreatorSource-field">
    <div class="heading">
        <label id="settings-twitterCreatorSource-label" for="settings-twitterTitleSource">{{ "Twitter Creator Source" |t("seomatic") }}</label>
        <div class="instructions"><p>{{ "Twitter username for the content creator / author, without the preceding @." |t("seomatic") }}</p>
        </div>
    </div>
    {% namespace "settings" %}
        <div class="heading">
            {{ forms.select({
                id: "twitterCreatorSource",
                name: "twitterCreatorSource",
                options: textOptions,
                value: settings.twitterCreatorSource,
                class: "seomatic-textSourceSelect"
            }) }}
        </div>
    {% endnamespace %}
    
    {% if userFieldSources is defined and userFieldSources |length %}
        {% namespace "settings" %}
            <div class="heading seomatic-textSourceFromField">
                <label id="settings-twitterCreatorField-label" for="settings-twitterCreatorField">{{ "Source Field: " |t("seomatic") }}</label>
                {{ forms.select({
                    id: "twitterCreatorField",
                    name: "twitterCreatorField",
                    options: userFieldSources,
                    value: settings.twitterCreatorField,
                }) }}
            </div>
        {% endnamespace %}
    {% endif %}

    {% namespace "globals" %}
    <div class="heading seomatic-textSourceFromUrl">
        {{ forms.text({
            id: "twitterCreator",
            name: "twitterCreator",
            value: globals.twitterCreator,
            class: "nicetext",
            warning: false,
        }) }}
    </div>
{% endnamespace %}
</div>

{############### Twitter Title ###############}

{% set textOptions = {
    fromCustom: "Custom Text" |t("seomatic"),
} %}
{% if textFieldSources is defined and textFieldSources |length %}
    {% set textOptions = { fromField: "From Field" |t("seomatic"), } | merge(textOptions) %}
{% endif %}
{% set textOptions = { sameAsSeo: "Same as SEO Title" |t("seomatic"), } | merge(textOptions) %}

<div class="field seomatic-textSourceWrapper" id="settings-twitterTitleSource-field">
    <div class="heading">
        <label id="settings-twitterTitleSource-label" for="settings-twitterTitleSource">{{ "Twitter Title Source" |t("seomatic") }}</label>
        <div class="instructions"><p>{{ "The Twitter Title is displayed in bold at the top of your Twitter card. Make sure it is a pithy summary of your webpage." |t("seomatic") }}</p>
        </div>
    </div>
    {% namespace "settings" %}
        <div class="heading">
            {{ forms.select({
                id: "twitterTitleSource",
                name: "twitterTitleSource",
                options: textOptions,
                value: settings.twitterTitleSource,
                class: "seomatic-textSourceSelect"
            }) }}
        </div>
    {% endnamespace %}
    
    {% if textFieldSources is defined and textFieldSources |length %}
        {% namespace "settings" %}
            <div class="heading seomatic-textSourceFromField">
                <label id="settings-twitterTitleField-label" for="settings-twitterTitleField">{{ "Source Field: " |t("seomatic") }}</label>
                {{ forms.select({
                    id: "twitterTitleField",
                    name: "twitterTitleField",
                    options: textFieldSources,
                    value: settings.twitterTitleField,
                }) }}
            </div>
        {% endnamespace %}
    {% endif %}
    
    {% namespace "globals" %}
        <div class="heading seomatic-textSourceFromUrl">
            {{ forms.text({
                id: "twitterTitle",
                name: "twitterTitle",
                value: globals.twitterTitle,
                class: "nicetext",
                maxlength: seomatic.config.maxTitleLength,
                showCharsLeft: true,
                warning: false,
            }) }}
        </div>
    {% endnamespace %}
</div>

{############### Twitter Site Name Position ###############}

{% set textOptions = {
    fromCustom: "Custom Position" |t("seomatic"),
} %}
{% set textOptions = { sameAsSeo: "Same as Site Name Position" |t("seomatic"), } | merge(textOptions) %}

<div class="field seomatic-textSourceWrapper" id="settings-twitterSiteNamePositionSource-field">
    <div class="heading">
        <label id="settings-twitterSiteNamePositionSource-label" for="settings-twitterTitleSource">{{ "Twitter Site Name Position Source" |t("seomatic") }}</label>
        <div class="instructions"><p>{{ "Where the Site Name is placed relative to the Twitter Title in the &lt;twitter:title&gt; tag" |t("seomatic") }}</p>
        </div>
    </div>
    {% namespace "settings" %}
        <div class="heading">
            {{ forms.select({
                id: "twitterSiteNamePositionSource",
                name: "twitterSiteNamePositionSource",
                options: textOptions,
                value: settings.twitterSiteNamePositionSource,
                class: "seomatic-textSourceSelect"
            }) }}
        </div>
    {% endnamespace %}
    
    {% namespace "globals" %}
        <div class="heading seomatic-textSourceFromUrl">
            {{ forms.selectField({
                id: "twitterSiteNamePosition",
                name: "twitterSiteNamePosition",
                options: {
                    before: "Before" |t("seomatic"),
                    after: "After" |t("seomatic"),
                    none: "None" |t("seomatic"),
                },
                value: globals.twitterSiteNamePosition,
                warning: false,
            }) }}
        </div>
</div>
{% endnamespace %}

{############### Twitter Description ###############}

{% set textOptions = {
    fromCustom: "Custom Text" |t("seomatic"),
} %}
{% if textFieldSources is defined and textFieldSources |length %}
    {% set textOptions = { summaryFromField: "Summary From Field" |t("seomatic"), } | merge(textOptions) %}
    {% set textOptions = { fromField: "From Field" |t("seomatic"), } | merge(textOptions) %}
{% endif %}
{% set textOptions = { sameAsSeo: "Same as SEO Description" |t("seomatic"), } | merge(textOptions) %}

<div class="field seomatic-textSourceWrapper" id="settings-twitterDescriptionSource-field">
    <div class="heading">
        <label id="settings-twitterDescriptionSource-label" for="settings-twitterDescriptionSource">{{ "Twitter Description Source" |t("seomatic") }}</label>
        <div class="instructions"><p>{{ "Twitter descriptions are displayed below the Twitter Title in your Twitter Cards. Use them to provide a summary of what your page is about." |t("seomatic") }}</p>
        </div>
    </div>
    {% namespace "settings" %}
        <div class="heading">
            {{ forms.select({
                id: "twitterDescriptionSource",
                name: "twitterDescriptionSource",
                options: textOptions,
                value: settings.twitterDescriptionSource,
                class: "seomatic-textSourceSelect"
            }) }}
        </div>
    {% endnamespace %}
    
    {% if textFieldSources is defined and textFieldSources |length %}
        {% namespace "settings" %}
            <div class="heading seomatic-textSourceFromField">
                <label id="settings-twitterDescriptionField-label" for="settings-twitterDescriptionField">{{ "Source Field: " |t("seomatic") }}</label>
                {{ forms.select({
                    id: "twitterDescriptionField",
                    name: "twitterDescriptionField",
                    options: textFieldSources,
                    value: settings.twitterDescriptionField,
                }) }}
            </div>
        {% endnamespace %}
    {% endif %}
    
    {% namespace "globals" %}
        <div class="heading seomatic-textSourceFromUrl">
            {{ forms.textArea({
                id: "twitterDescription",
                name: "twitterDescription",
                value: globals.twitterDescription,
                class: "nicetext",
                maxlength: 200,
                showCharsLeft: true,
                warning: false,
            }) }}
        </div>
    {% endnamespace %}
</div>

{############### SEO Image ###############}

<div style="display: none;">
    {% include "seomatic/settings/_includes/seo-image-partial.twig" %}
</div>

{############### Twitter Image ###############}

{% set imageOptions = {
    fromAsset: "Custom Image" |t("seomatic"),
    fromUrl: "Custom URL" |t("seomatic"),
} %}
{% if assetFieldSources is defined and assetFieldSources |length %}
    {% set imageOptions = { fromField: "From Asset Field" |t("seomatic"), } | merge(imageOptions) %}
{% endif %}
{% set imageOptions = { sameAsSeo: "Same As SEO Image" |t("seomatic"), } | merge(imageOptions) %}

<div class="field seomatic-imageSourceWrapper" id="settings-twitterImageSource-field">
    <div class="heading">
        <label id="settings-twitterImageSource-label" for="settings-twitterImageSource">{{ "Twitter Image Source" |t("seomatic") }}</label>
        <div class="instructions"><p>{{ "This is the image that will be used for display as Twitter Cards on tweets that link to the web page." |t("seomatic") }}</p>
        </div>
    </div>
    {% namespace "settings" %}
        <div class="heading">
            {{ forms.select({
                id: "twitterImageSource",
                name: "twitterImageSource",
                options: imageOptions,
                value: settings.twitterImageSource,
                class: "seomatic-imageSourceSelect"
            }) }}
        </div>
    {% endnamespace %}

    {% if assetFieldSources is defined and assetFieldSources |length %}
        {% namespace "settings" %}
            <div class="heading seomatic-imageSourceFromField">
                <label id="settings-twitterImageField-label" for="settings-twitterImageField">{{ "Asset Field: " |t("seomatic") }}</label>
                {{ forms.select({
                    id: "twitterImageField",
                    name: "twitterImageField",
                    options: assetFieldSources,
                    value: settings.twitterImageField,
                }) }}
            </div>
        {% endnamespace %}
    {% endif %}

    {% namespace "settings" %}
        <div class="heading seomatic-imageSourceFromAsset">
            {{ forms.elementSelect({
                id: "twitterImageIds",
                name: "twitterImageIds",
                viewMode: "large",
                elements: twitterImageElements,
                elementType: elementType,
                criteria: {
                    kind: ["image"],
                },
                jsClass: 'Craft.AssetSelectInput',
                selectionLabel: "Select Twitter Image" |t("seomatic"),
                sources: [],
                limit: 1,
                warning: false,
            }) }}
        </div>
    {% endnamespace %}

    {% namespace "globals" %}
        <div class="heading seomatic-imageSourceFromUrl">
            {{ forms.text({
                id: "twitterImage",
                name: "twitterImage",
                value: globals.twitterImage,
                class: "nicetext",
                warning: false,
            }) }}
        </div>
    {% endnamespace %}
</div>

{############### SEO Image Transform ###############}

{% namespace "settings" %}
    {{ forms.lightswitchField({
        label: "Transform Twitter Image" |t("seomatic"),
        instructions: "Whether the Twitter image should be automatically transformed to an appropriate file format and aspect ratio for the chosen Twitter Card type." |t("seomatic"),
        id: "twitterImageTransform",
        name: "twitterImageTransform",
        on: settings.twitterImageTransform,
        warning: false,
    }) }}
{% endnamespace %}

{############### Twitter Image Description ###############}

{% set textOptions = {
    fromCustom: "Custom Text" |t("seomatic"),
} %}
{% if textFieldSources is defined and textFieldSources |length %}
    {% set textOptions = { summaryFromField: "Summary From Field" |t("seomatic"), } | merge(textOptions) %}
    {% set textOptions = { fromField: "From Field" |t("seomatic"), } | merge(textOptions) %}
{% endif %}
{% set textOptions = { sameAsSeo: "Same As SEO Image Description" |t("seomatic"), } | merge(textOptions) %}

<div class="field seomatic-textSourceWrapper" id="settings-twitterImageDescriptionSource-field">
    <div class="heading">
        <label id="settings-twitterImageDescriptionSource-label" for="settings-twitterImageDescriptionSource">{{ "Twitter Image Description Source" |t("seomatic") }}</label>
        <div class="instructions"><p>{{ "A text description of the image conveying the essential nature of an image to users who are visually impaired." |t("seomatic") }}</p>
        </div>
    </div>
    {% namespace "settings" %}
        <div class="heading">
            {{ forms.select({
                id: "twitterImageDescriptionSource",
                name: "twitterImageDescriptionSource",
                options: textOptions,
                value: settings.twitterImageDescriptionSource,
                class: "seomatic-textSourceSelect"
            }) }}
        </div>
    {% endnamespace %}
    
    {% if textFieldSources is defined and textFieldSources |length %}
        {% namespace "settings" %}
            <div class="heading seomatic-textSourceFromField">
                <label id="settings-twitterImageDescriptionField-label" for="settings-twitterImageDescriptionField">{{ "Source Field: " |t("seomatic") }}</label>
                {{ forms.select({
                    id: "twitterImageDescriptionField",
                    name: "twitterImageDescriptionField",
                    options: textFieldSources,
                    value: settings.twitterImageDescriptionField,
                }) }}
            </div>
        {% endnamespace %}
    {% endif %}
    
    {% namespace "globals" %}
        <div class="heading seomatic-textSourceFromUrl">
            {{ forms.textAreaField({
                id: "twitterImageDescription",
                name: "twitterImageDescription",
                value: globals.twitterImageDescription,
                class: "nicetext",
                maxlength: 420,
                showCharsLeft: true,
                warning: false,
            }) }}
        </div>
    {% endnamespace %}
</div>
