{% from "seomatic/settings/_includes/macros.twig" import configWarning %}
{% import "_includes/forms" as forms %}

<h4 class="heading">{{ "SEO Preview:" |t('seomatic') }}</h4>
{% include "seomatic/_includes/facebookPreview.twig" %}

{############### Facebook OpenGraph Type ###############}

{% namespace "globals" %}
    {{ forms.selectField({
        label: "Facebook OpenGraph Type" |t("seomatic"),
        instructions: "Adding OpenGraph tags to your website influences the performance of your links on social media by allowing you to control what appears when a user posts a link to your content on Facebook." |t("seomatic"),
        id: "ogType",
        name: "ogType",
        options: {
            "article": "Article" |t("seomatic"),
            "book": "Book" |t("seomatic"),
            "business.business": "Business" |t("seomatic"),
            "music.album": "Music Album" |t("seomatic"),
            "music.song": "Music Song" |t("seomatic"),
            "place": "Place" |t("seomatic"),
            "product": "Product" |t("seomatic"),
            "profile": "Profile" |t("seomatic"),
            "restaurant.restaurant": "Restaurant" |t("seomatic"),
            "video.other": "Video" |t("seomatic"),
            "website": "Website" |t("seomatic"),
        },
        value: globals.ogType,
    }) }}
{% endnamespace %}

{############### Facebook OpenGraph Title ###############}

{% set textOptions = {
    fromCustom: "Custom Text" |t("seomatic"),
} %}
{% if textFieldSources is defined and textFieldSources |length %}
    {% set textOptions = { fromField: "From Field" |t("seomatic"), } | merge(textOptions) %}
{% endif %}
{% set textOptions = { sameAsSeo: "Same as SEO Title" |t("seomatic"), } | merge(textOptions) %}

<div class="field seomatic-textSourceWrapper" id="settings-ogTitleSource-field">
    <div class="heading">
        <label id="settings-ogTitleSource-label" for="settings-ogTitleSource">{{ "Facebook OpenGraph Title Source" |t("seomatic") }}</label>
        <div class="instructions"><p>{{ "The Facebook OpenGraph Title is displayed in bold at the top of your Facebook card. Make sure it is a pithy summary of your webpage." |t("seomatic") }}</p>
        </div>
    </div>
    {% namespace "settings" %}
        <div class="heading">
            {{ forms.select({
                id: "ogTitleSource",
                name: "ogTitleSource",
                options: textOptions,
                value: settings.ogTitleSource,
                class: "seomatic-textSourceSelect"
            }) }}
        </div>
    {% endnamespace %}
    
    {% if textFieldSources is defined and textFieldSources |length %}
        {% namespace "settings" %}
            <div class="heading seomatic-textSourceFromField">
                <label id="settings-ogTitleField-label" for="settings-ogTitleField">{{ "Source Field: " |t("seomatic") }}</label>
                {{ forms.select({
                    id: "ogTitleField",
                    name: "ogTitleField",
                    options: textFieldSources,
                    value: settings.ogTitleField,
                }) }}
            </div>
        {% endnamespace %}
    {% endif %}
    
    {% namespace "globals" %}
        <div class="heading seomatic-textSourceFromUrl">
            {{ forms.text({
                id: "ogTitle",
                name: "ogTitle",
                value: globals.ogTitle,
                class: "nicetext",
                maxlength: seomatic.config.maxTitleLength,
                showCharsLeft: true,
                warning: false,
            }) }}
        </div>
    {% endnamespace %}
</div>

{############### Facebook OpenGraph Site Name Position ###############}

{% set textOptions = {
    fromCustom: "Custom Position" |t("seomatic"),
} %}
{% set textOptions = { sameAsSeo: "Same as Site Name Position" |t("seomatic"), } | merge(textOptions) %}

<div class="field seomatic-textSourceWrapper" id="settings-ogSiteNamePositionSource-field">
    <div class="heading">
        <label id="settings-ogSiteNamePositionSource-label" for="settings-ogTitleSource">{{ "Facebook OpenGraph Site Name Position Source" |t("seomatic") }}</label>
        <div class="instructions"><p>{{ "Where the Site Name is placed relative to the Facebook OpenGraph Title in the &lt;og:title&gt; tag" |t("seomatic") }}</p>
        </div>
    </div>
    {% namespace "settings" %}
        <div class="heading">
            {{ forms.select({
                id: "ogSiteNamePositionSource",
                name: "ogSiteNamePositionSource",
                options: textOptions,
                value: settings.ogSiteNamePositionSource,
                class: "seomatic-textSourceSelect"
            }) }}
        </div>
    {% endnamespace %}
    
    {% namespace "globals" %}
    <div class="heading seomatic-textSourceFromUrl">
        {{ forms.selectField({
            id: "ogSiteNamePosition",
            name: "ogSiteNamePosition",
            options: {
                before: "Before" |t("seomatic"),
                after: "After" |t("seomatic"),
                none: "None" |t("seomatic"),
            },
            value: globals.ogSiteNamePosition,
            warning: false,
        }) }}
    </div>
</div>
{% endnamespace %}

{############### Facebook OpenGraph Description ###############}

{% set textOptions = {
    fromCustom: "Custom Text" |t("seomatic"),
} %}
{% if textFieldSources is defined and textFieldSources |length %}
    {% set textOptions = { summaryFromField: "Summary From Field" |t("seomatic"), } | merge(textOptions) %}
    {% set textOptions = { fromField: "From Field" |t("seomatic"), } | merge(textOptions) %}
{% endif %}
{% set textOptions = { sameAsSeo: "Same as SEO Description" |t("seomatic"), } | merge(textOptions) %}

<div class="field seomatic-textSourceWrapper" id="settings-ogDescriptionSource-field">
    <div class="heading">
        <label id="settings-ogDescriptionSource-label" for="settings-ogDescriptionSource">{{ "Facebook Description Source" |t("seomatic") }}</label>
        <div class="instructions"><p>{{ "Facebook OpenGraph descriptions are displayed below the Facebook OpenGraph Title in your Facebook Cards. Use them to provide a summary of what your page is about." |t("seomatic") }}</p>
        </div>
    </div>
    {% namespace "settings" %}
        <div class="heading">
            {{ forms.select({
                id: "ogDescriptionSource",
                name: "ogDescriptionSource",
                options: textOptions,
                value: settings.ogDescriptionSource,
                class: "seomatic-textSourceSelect"
            }) }}
        </div>
    {% endnamespace %}
    
    {% if textFieldSources is defined and textFieldSources |length %}
        {% namespace "settings" %}
            <div class="heading seomatic-textSourceFromField">
                <label id="settings-ogDescriptionField-label" for="settings-ogDescriptionField">{{ "Source Field: " |t("seomatic") }}</label>
                {{ forms.select({
                    id: "ogDescriptionField",
                    name: "ogDescriptionField",
                    options: textFieldSources,
                    value: settings.ogDescriptionField,
                }) }}
            </div>
        {% endnamespace %}
    {% endif %}
    
    {% namespace "globals" %}
        <div class="heading seomatic-textSourceFromUrl">
            {{ forms.textArea({
                id: "ogDescription",
                name: "ogDescription",
                value: globals.ogDescription,
                class: "nicetext",
                maxlength: 300,
                showCharsLeft: true,
                warning: false,
            }) }}
        </div>
    {% endnamespace %}
</div>

{############### SEO Image ###############}

<div style="display: none;">
    {% include "seomatic/settings/_includes/seo-image-partial.twig" %}
</div>

{############### Facebook OpenGraph Image ###############}

{% set imageOptions = {
    fromAsset: "Custom Image" |t("seomatic"),
    fromUrl: "Custom URL" |t("seomatic"),
} %}
{% if assetFieldSources is defined and assetFieldSources |length %}
    {% set imageOptions = { fromField: "From Asset Field" |t("seomatic"), } | merge(imageOptions) %}
{% endif %}
{% set imageOptions = { sameAsSeo: "Same As SEO Image" |t("seomatic"), } | merge(imageOptions) %}

<div class="field seomatic-imageSourceWrapper" id="settings-ogImageSource-field">
    <div class="heading">
        <label id="settings-ogImageSource-label" for="settings-ogImageSource">{{ "Facebook OpenGraph Image Source" |t("seomatic") }}</label>
        <div class="instructions"><p>{{ "This is the image that will be used for display on Facebook posts that link to the web page." |t("seomatic") }}</p>
        </div>
    </div>
    {% namespace "settings" %}
        <div class="heading">
            {{ forms.select({
                id: "ogImageSource",
                name: "ogImageSource",
                options: imageOptions,
                value: settings.ogImageSource,
                class: "seomatic-imageSourceSelect"
            }) }}
        </div>
    {% endnamespace %}

    {% if assetFieldSources is defined and assetFieldSources |length %}
        {% namespace "settings" %}
            <div class="heading seomatic-imageSourceFromField">
                <label id="settings-ogImageField-label" for="settings-ogImageField">{{ "Asset Field: " |t("seomatic") }}</label>
                {{ forms.select({
                    id: "ogImageField",
                    name: "ogImageField",
                    options: assetFieldSources,
                    value: settings.ogImageField,
                }) }}
            </div>
        {% endnamespace %}
    {% endif %}

    {% namespace "settings" %}
        <div class="heading seomatic-imageSourceFromAsset">
            {{ forms.elementSelect({
                id: "ogImageIds",
                name: "ogImageIds",
                viewMode: "large",
                elements: ogImageElements,
                elementType: elementType,
                criteria: {
                    kind: ["image"],
                },
                jsClass: 'Craft.AssetSelectInput',
                selectionLabel: "Select Facebook OpenGraph Image" |t("seomatic"),
                sources: [],
                limit: 1,
                warning: false,
            }) }}
        </div>
    {% endnamespace %}

    {% namespace "globals" %}
        <div class="heading seomatic-imageSourceFromUrl">
            {{ forms.text({
                id: "ogImage",
                name: "ogImage",
                value: globals.ogImage,
                class: "nicetext",
                warning: false,
            }) }}
        </div>
    {% endnamespace %}
</div>

{############### Facebook OpenGraph Image Transform ###############}

{% namespace "settings" %}
    {{ forms.lightswitchField({
        label: "Transform Facebook OpenGraph Image" |t("seomatic"),
        instructions: "Whether the Facebook OpenGraph image should be automatically transformed to an appropriate file format and aspect ratio for display on Facebook." |t("seomatic"),
        id: "ogImageTransform",
        name: "ogImageTransform",
        on: settings.ogImageTransform,
        warning: false,
    }) }}
{% endnamespace %}

{############### Facebook OpenGraph Image Description ###############}

{% set textOptions = {
    fromCustom: "Custom Text" |t("seomatic"),
} %}
{% if textFieldSources is defined and textFieldSources |length %}
    {% set textOptions = { summaryFromField: "Summary From Field" |t("seomatic"), } | merge(textOptions) %}
    {% set textOptions = { fromField: "From Field" |t("seomatic"), } | merge(textOptions) %}
{% endif %}
{% set textOptions = { sameAsSeo: "Same As SEO Image Description" |t("seomatic"), } | merge(textOptions) %}

<div class="field seomatic-textSourceWrapper" id="settings-ogImageDescriptionSource-field">
    <div class="heading">
        <label id="settings-ogImageDescriptionSource-label" for="settings-ogImageDescriptionSource">{{ "Facebook OpenGraph Image Description Source" |t("seomatic") }}</label>
        <div class="instructions"><p>{{ "A text description of the image conveying the essential nature of an image to users who are visually impaired." |t("seomatic") }}</p>
        </div>
    </div>
    {% namespace "settings" %}
        <div class="heading">
            {{ forms.select({
                id: "ogImageDescriptionSource",
                name: "ogImageDescriptionSource",
                options: textOptions,
                value: settings.ogImageDescriptionSource,
                class: "seomatic-textSourceSelect"
            }) }}
        </div>
    {% endnamespace %}
    
    {% if textFieldSources is defined and textFieldSources |length %}
        {% namespace "settings" %}
            <div class="heading seomatic-textSourceFromField">
                <label id="settings-ogImageDescriptionField-label" for="settings-ogImageDescriptionField">{{ "Source Field: " |t("seomatic") }}</label>
                {{ forms.select({
                    id: "ogImageDescriptionField",
                    name: "ogImageDescriptionField",
                    options: textFieldSources,
                    value: settings.ogImageDescriptionField,
                }) }}
            </div>
        {% endnamespace %}
    {% endif %}
    
    {% namespace "globals" %}
        <div class="heading seomatic-textSourceFromUrl">
            {{ forms.textArea({
                id: "ogImageDescription",
                name: "ogImageDescription",
                value: globals.ogImageDescription,
                class: "nicetext",
                maxlength: 420,
                showCharsLeft: true,
                warning: false,
            }) }}
        </div>
    {% endnamespace %}
</div>
