{% from "seomatic/settings/_includes/macros.twig" import configWarning %}
{% import "_includes/forms" as forms %}

{% if pageContext != "field" %}
<div class="flex">
    <div class="flex-grow"></div>
    <a href="{{ seomatic.helper.sitemapIndexForSiteId(currentSiteId) }}" class="btn livepreviewbtn" target="_blank">{{ 'View Sitemap Index'|t("seomatic") }}</a>
    <a href="{{ seomatic.helper.sitemapUrlForBundle(currentSourceBundleType, currentSourceHandle, currentSiteId) }}" class="btn livepreviewbtn" target="_blank">{{ "View #{currentSourceBundleType |capitalize} Sitemap"|t("seomatic") }}</a>
</div>
{% endif %}

{% namespace "metaSitemapVars" %}

    {% if field is not defined or 'sitemapUrls' in field.sitemapEnabledFields %}
        {{ forms.lightswitchField({
            label: "Sitemap Enabled"|t("seomatic"),
            instructions: "Whether URLs in this #{currentSourceBundleType} should be included in the sitemap"|t("seomatic"),
            id: "sitemapUrls",
            name: "sitemapUrls",
            on: metaSitemapVars.sitemapUrls,
            warning: false,
            errors: metaSitemapVars.getErrors("sitemapUrls"),
        }) }}
    {% endif %}

    {% if field is not defined or 'sitemapAssets' in field.sitemapEnabledFields %}
        {{ forms.lightswitchField({
            label: "Include Images & Videos in Sitemap"|t("seomatic"),
            instructions: "Whether the URLs to images & videos in Asset fields or Asset fields in matrix blocks should be included in the sitemap"|t("seomatic"),
            id: "sitemapAssets",
            name: "sitemapAssets",
            on: metaSitemapVars.sitemapAssets,
            warning: false,
            errors: metaSitemapVars.getErrors("sitemapAssets"),
        }) }}
    {% endif %}

    {% if field is not defined or 'sitemapFiles' in field.sitemapEnabledFields %}
        {{ forms.lightswitchField({
            label: "Include Indexable Files in Sitemap"|t("seomatic"),
            instructions: "Whether the URLs to files such as `.pdf`, `.xls`, `.doc` and other indexable file types in Asset fields or Asset fields in matrix blocks should be included in the sitemap"|t("seomatic"),
            id: "sitemapFiles",
            name: "sitemapFiles",
            on: metaSitemapVars.sitemapFiles,
            warning: false,
            errors: metaSitemapVars.getErrors("sitemapFiles"),
        }) }}
    {% endif %}

    {% if field is not defined or 'sitemapAltLinks' in field.sitemapEnabledFields %}
        {{ forms.lightswitchField({
            label: "Sitemap Alt URLs"|t("seomatic"),
            instructions: "Whether URLs to alternate translations should be in fields or matrix blocks should be included in the sitemap"|t("seomatic"),
            id: "sitemapAltLinks",
            name: "sitemapAltLinks",
            on: metaSitemapVars.sitemapAltLinks,
            warning: false,
            errors: metaSitemapVars.getErrors("sitemapAltLinks"),
        }) }}
    {% endif %}

    {% if field is not defined or 'sitemapChangeFreq' in field.sitemapEnabledFields %}
        {{ forms.selectField({
            label: "Change Frequency"|t("seomatic"),
            instructions: "How frequently the page is likely to change. This value provides general information to search engines and may not correlate exactly to how often they crawl the page."|t("seomatic"),
            id: "sitemapChangeFreq",
            name: "sitemapChangeFreq",
            options: {
                always: "Always"|t("seomatic"),
                hourly: "Hourly"|t("seomatic"),
                daily: "Daily"|t("seomatic"),
                weekly: "Weekly"|t("seomatic"),
                monthly: "Monthly"|t("seomatic"),
                yearly: "Yearly"|t("seomatic"),
                never : "Never"|t("seomatic"),
            },
            value: metaSitemapVars.sitemapChangeFreq,
            errors: metaSitemapVars.getErrors("sitemapChangeFreq"),
        }) }}
    {% endif %}

    {% if field is not defined or 'sitemapPriority' in field.sitemapEnabledFields %}
        {{ forms.selectField({
            label: "Priority"|t("seomatic"),
            instructions: "The priority of this URL relative to other URLs on your site. This value does not affect how your pages are compared to pages on other sites—it only lets the search engines know which pages you deem most important for the crawlers."|t("seomatic"),
            id: "sitemapPriority",
            name: "sitemapPriority",
            options: {
                "1.0": "1.0",
                "0.9": "0.9",
                "0.8": "0.8",
                "0.7": "0.7",
                "0.6": "0.6",
                "0.5": "0.5",
                "0.4": "0.4",
                "0.3": "0.3",
                "0.2": "0.2",
                "0.1": "0.1",
                "0.0": "0.0",
            },
            value: metaSitemapVars.sitemapPriority,
            errors: metaSitemapVars.getErrors("sitemapPriority"),
        }) }}
    {% endif %}


    {% if field is not defined or 'sitemapLimit' in field.sitemapEnabledFields %}
        {{ forms.selectField({
            label: "Sitemap Limit"|t("seomatic"),
            instructions: "Controls a limit to how many entries will be in this sitemap. The sitemap entries will be sorted by modification date."|t("seomatic"),
            id: "sitemapLimit",
            name: "sitemapLimit",
            options: {
                "": "None",
                "1000": "1000",
                "500": "500",
                "200": "200",
                "100": "100",
                "50": "50",
                "10": "10",
                "5": "5",
            },
            value: metaSitemapVars.sitemapLimit,
            errors: metaSitemapVars.getErrors("sitemapLimit"),
        }) }}
    {% endif %}

    {% if field is not defined or 'sitemapImageFieldMap' in field.sitemapEnabledFields %}
        {{ forms.editableTableField({
            label: "Image Sitemap Fields"|t("seomatic"),
            instructions: "Choose what source fields from your Asset Volume field layouts to map to the image sitemap properties. [Learn more](https://support.google.com/webmasters/answer/178636?hl=en)"|t("seomatic"),
            id: 'sitemapImageFieldMap',
            name: 'sitemapImageFieldMap',
            required: false,
            cols: {
                property: {
                    heading: "Image Sitemap Property"|t("seomatic"),
                    type: "singleline",
                    width: "30%",
                },
                field: {
                    heading: "Source Field"|t("seomatic"),
                    type: "select",
                    width: "70%",
                    options: assetVolumeTextFieldSources,
                },
            },
            rows: metaSitemapVars.sitemapImageFieldMap,
            errors: metaSitemapVars.getErrors("sitemapImageFieldMap"),
        }) }}
    {% endif %}

    {% if field is not defined or 'sitemapVideoFieldMap' in field.sitemapEnabledFields %}
        {{ forms.editableTableField({
            label: "Video Sitemap Fields"|t("seomatic"),
            instructions: "Choose what source fields from your Asset Volume field layouts to map to the image sitemap properties. [Learn more](https://developers.google.com/webmasters/videosearch/sitemaps)"|t("seomatic"),
            id: 'sitemapVideoFieldMap',
            name: 'sitemapVideoFieldMap',
            required: false,
            cols: {
                property: {
                    heading: "Video Sitemap Property"|t("seomatic"),
                    type: "singleline",
                    width: "30%",
                },
                field: {
                    heading: "Field"|t("seomatic"),
                    type: "select",
                    width: "70%",
                    options: assetVolumeTextFieldSources,
                },
            },
            rows: metaSitemapVars.sitemapVideoFieldMap,
            errors: metaSitemapVars.getErrors("sitemapVideoFieldMap"),
        }) }}
    {% endif %}

{% endnamespace %}

{% include "seomatic/_includes/footer-message.twig" with {
    message: "Sitemap Indexes are automatically submitted to search engines whenever a new Section/Category Group is added."
} %}
{% include "seomatic/_includes/footer-message.twig" with {
    message: "#{currentSourceBundleType |capitalize} Sitemaps are automatically submitted to search engines whenever a new Element in that Section/Category Group is added."
} %}
