{% from "seomatic/settings/_includes/macros.twig" import configWarning %}
{% import "_includes/forms" as forms %}

<h4 class="heading">{{ "SEO Preview:" |t('seomatic') }}</h4>
{% include "seomatic/_includes/facebookPreview.twig" %}
{% namespace "globals" %}
    
    {{ forms.selectField({
        label: "Facebook OpenGraph Type" |t("seomatic"),
        instructions: "Adding OpenGraph tags to your website influences the performance of your links on social media by allowing you to control what appears when a user posts a link to your content on Facebook." |t("seomatic"),
        id: "ogType",
        name: "ogType",
        options: {
            "article": "Article" |t("seomatic"),
            "book": "Book" |t("seomatic"),
            "business.business": "Business" |t("seomatic"),
            "music.album": "Music Album" |t("seomatic"),
            "music.song": "Music Song" |t("seomatic"),
            "place": "Place" |t("seomatic"),
            "product": "Product" |t("seomatic"),
            "profile": "Profile" |t("seomatic"),
            "restaurant.restaurant": "Restaurant" |t("seomatic"),
            "video.other": "Video" |t("seomatic"),
            "website": "Website" |t("seomatic"),
        },
        value: globals.ogType,
    }) }}
    
    {{ forms.textField({
        label: "Facebook OpenGraph Title" |t("seomatic"),
        instructions: "Make sure your title tag is explicit and contains your most important keywords. Be sure that each page has a unique title tag." |t("seomatic"),
        id: "ogTitle",
        name: "ogTitle",
        value: globals.ogTitle,
        class: "nicetext",
        maxlength: seomatic.config.maxTitleLength,
        showCharsLeft: true,
        warning: false,
    }) }}
    
    {{ forms.selectField({
        label: "Facebook OpenGraph Site Name Position" |t("seomatic"),
        instructions: "Where the Site Name is placed relative to the Facebook OpenGraph Title in the &lt;og:title&gt; tag" |t("seomatic"),
        id: "ogSiteNamePosition",
        name: "ogSiteNamePosition",
        options: {
            before: "Before" |t("seomatic"),
            after: "After" |t("seomatic"),
            none: "None" |t("seomatic"),
        },
        value: globals.ogSiteNamePosition,
        warning: false,
    }) }}
    
    {{ forms.textAreaField({
        label: "Facebook OpenGraph Description" |t("seomatic"),
        instructions: "SEO descriptions allow you to influence how your web pages are described and displayed in search results. Ensure that all of your web pages have a unique meta description that is explicit and contains your most important keywords." |t("seomatic"),
        id: "ogDescription",
        name: "ogDescription",
        value: globals.ogDescription,
        class: "nicetext",
        maxlength: 300,
        showCharsLeft: true,
        warning: false,
    }) }}
{% endnamespace %}


{% set imageOptions = {
    fromAsset: "Custom Image" |t("seomatic"),
    fromUrl: "Custom URL" |t("seomatic"),
} %}
{% if assetFieldSources is defined and assetFieldSources |length %}
    {% set imageOptions = { fromField: "From Asset Field" |t("seomatic"), } | merge(imageOptions) %}
{% endif %}
{% set imageOptions = { sameAsSeo: "Same As SEO Image" |t("seomatic"), } | merge(imageOptions) %}

<div class="field seomatic-imageSourceWrapper" id="settings-ogImageSource-field">
    <div class="heading">
        <label id="settings-ogImageSource-label" for="settings-ogImageSource">{{ "Facebook OpenGraph Image Source" |t("seomatic") }}</label>
        <div class="instructions"><p>{{ "This is the image that will be used for display as the global website brand, as well as on Twitter Cards and Facebook OpenGraph that link to the website, if they are not specified." |t("seomatic") }}</p>
        </div>
    </div>
    {% namespace "settings" %}
        <div class="heading">
            {{ forms.select({
                id: "ogImageSource",
                name: "ogImageSource",
                options: imageOptions,
                value: settings.ogImageSource,
            }) }}
        </div>
    {% endnamespace %}

    {% if assetFieldSources is defined and assetFieldSources |length %}
        {% namespace "settings" %}
            <div class="heading seomatic-imageSourceFromField">
                <label id="settings-ogImageField-label" for="settings-ogImageField">{{ "Asset Field: " |t("seomatic") }}</label>
                {{ forms.select({
                    id: "ogImageField",
                    name: "ogImageField",
                    options: assetFieldSources,
                    value: settings.ogImageField,
                }) }}
            </div>
        {% endnamespace %}
    {% endif %}

    {% namespace "settings" %}
        <div class="heading seomatic-imageSourceFromAsset">
            {{ forms.elementSelect({
                id: "ogImageIds",
                name: "ogImageIds",
                viewMode: "large",
                elements: ogImageElements,
                elementType: elementType,
                criteria: {
                    kind: ["image"],
                },
                jsClass: 'Craft.AssetSelectInput',
                selectionLabel: "Select Facebook OpenGraph Image" |t("seomatic"),
                sources: [],
                limit: 1,
                warning: false,
            }) }}
        </div>
    {% endnamespace %}

    {% namespace "globals" %}
        <div class="heading seomatic-imageSourceFromUrl">
            {{ forms.text({
                id: "ogImage",
                name: "ogImage",
                value: globals.ogImage,
                class: "nicetext",
                warning: false,
            }) }}
        </div>
    {% endnamespace %}
</div>

{% namespace "globals" %}
    {{ forms.textAreaField({
        label: "Facebook OpenGraph Image Description" |t("seomatic"),
        instructions: "Description of the Facebook OpenGraph Image" |t("seomatic"),
        id: "ogImageDescription",
        name: "ogImageDescription",
        value: globals.ogImageDescription,
        class: "nicetext",
        maxlength: 420,
        showCharsLeft: true,
        warning: false,
    }) }}
{% endnamespace %}