{% from "seomatic/settings/_includes/macros.twig" import configWarning %}
{% import "_includes/forms" as forms %}

{% if field is not defined or 'seoPreview' in field.facebookEnabledFields %}
    <h4 class="heading">{{ "SEO Preview:"|t('seomatic') }}</h4>
    {% include "seomatic/_includes/facebookPreview.twig" %}
{% endif %}

{% if parentBundles is not defined %}
    {% set parentBundles = [] %}
{% endif %}

{% set textOptions = {
  fromCustom: "Custom Text"|t("seomatic"),
} %}

{% if textFieldSources is defined and textFieldSources |length %}
    {% set textOptions = { fromField: "From Field"|t("seomatic"), } | merge(textOptions) %}
{% endif %}

{% set textOptions = { sameAsSeo: "Same as SEO Title"|t("seomatic"), } | merge(textOptions) %}


{############### Facebook OpenGraph Type ###############}

{% if field is not defined or 'ogType' in field.facebookEnabledFields %}
    {% include "seomatic/settings/_includes/fields/_ogType.twig" %}
{% endif %}

{############### Facebook OpenGraph Title ###############}

{% if field is not defined or 'ogTitle' in field.facebookEnabledFields %}
    {% include "seomatic/settings/_includes/fields/_ogTitle.twig" %}
{% endif %}

{############### Facebook OpenGraph Site Name Position ###############}

{% if field is not defined or 'ogSiteNamePosition' in field.facebookEnabledFields %}
    {% include "seomatic/settings/_includes/fields/_ogSiteNamePosition.twig" %}
{% endif %}

{############### Facebook OpenGraph Description ###############}

{% if field is not defined or 'ogDescription' in field.facebookEnabledFields %}
    {% include "seomatic/settings/_includes/fields/_ogDescription.twig" %}
{% endif %}

{############### SEO Image ###############}

{# These fields are added as hidden here so that "Same as SEO Image" changes can propagate down to them #}
{% if field is not defined %}
    <div style="display: none;">
        {% include "seomatic/settings/_includes/seo-image-partial.twig" %}
    </div>
{% endif %}

{############### Facebook OpenGraph Image ###############}

{% include "seomatic/settings/_includes/facebook-og-image-partial.twig" %}

{############### Facebook OpenGraph Image Description ###############}

{% set textOptions = {
    fromCustom: "Custom Text"|t("seomatic"),
} %}
{% if textFieldSources is defined and textFieldSources |length %}
    {% set textOptions = { summaryFromField: "Summary From Field"|t("seomatic"), } | merge(textOptions) %}
    {% set textOptions = { fromField: "From Field"|t("seomatic"), } | merge(textOptions) %}
{% endif %}
{% set textOptions = { sameAsSeo: "Same As SEO Image Description"|t("seomatic"), } | merge(textOptions) %}

{% if field is not defined or 'ogImageDescription' in field.facebookEnabledFields %}
    <div class="field seomatic-textSourceWrapper" id="metaBundleSettings-ogImageDescriptionSource-field">
        <div class="heading">
            <label id="metaBundleSettings-ogImageDescriptionSource-label" for="metaBundleSettings-ogImageDescriptionSource">{{ "Facebook OpenGraph Image Description Source"|t("seomatic") }}</label>
        </div>
        <div class="instructions"><p>{{ "A text description of the image conveying the essential nature of an image to users who are visually impaired."|t("seomatic") }}</p>
        </div>
        {% namespace "metaBundleSettings" %}
            <div class="heading">
                {{ forms.select({
                    id: "ogImageDescriptionSource",
                    name: "ogImageDescriptionSource",
                    options: textOptions,
                    value: metaBundleSettings.ogImageDescriptionSource,
                    class: "seomatic-textSourceSelect",
                    errors: metaBundleSettings.getErrors("ogImageDescriptionSource"),
                }) }}
            </div>
        {% endnamespace %}

        {% if textFieldSources is defined and textFieldSources |length %}
            {% namespace "metaBundleSettings" %}
                <div class="heading seomatic-textSourceFromField">
                    <label id="metaBundleSettings-ogImageDescriptionField-label" for="metaBundleSettings-ogImageDescriptionField">{{ "Source Field: "|t("seomatic") }}</label>
                    {{ forms.select({
                        id: "ogImageDescriptionField",
                        name: "ogImageDescriptionField",
                        options: textFieldSources,
                        value: metaBundleSettings.ogImageDescriptionField,
                        errors: metaBundleSettings.getErrors("ogImageDescriptionField"),
                    }) }}
                </div>
            {% endnamespace %}
        {% endif %}

        {% namespace "metaGlobalVars" %}
            <div class="input ltr seomatic-textSourceFromUrl">
                {{ forms.textArea({
                    id: "ogImageDescription",
                    name: "ogImageDescription",
                    value: metaGlobalVars.ogImageDescription,
                    class: "nicetext",
                    maxlength: 420,
                    showCharsLeft: true,
                    warning: false,
                    errors: metaGlobalVars.getErrors("ogImageDescription"),
                }) }}
            </div>
        {% endnamespace %}
    </div>
{% endif %}
