{% set inheritedFrom = seomatic.helper.findInheritableBundle(parentBundles, "twitterImage") %}
{% set hasInheritableValues = inheritedFrom is not null %}

{% set additionalVars = {
    'isInherited': hasInheritableValues and seomatic.helper.isInherited(metaGlobalVars, "twitterImage"),
    'fieldLabel': "Twitter Image Source"|t("seomatic"),
    'labelFor': 'metaBundleSettings-twitterImageSource',
    'wrapperClass': 'seomatic-imageSourceInnerWrapper',
    'settingName': 'twitterImage'
} %}

{% embed "seomatic/settings/_includes/fields/_inheritableField.twig" with additionalVars %}
    {% macro entireTwitterImageField(twitterImageElement, elementType, imageOptions, field, assetFieldSources, imageCropModes, metaBundleSettings, metaGlobalVars) %}
        <div class="field seomatic-imageSourceWrapper" id="metaBundleSettings-seoImageSource-field">
            <div class="field">
                {{ _self.twitterImageField(twitterImageElement, elementType, imageOptions, assetFieldSources, metaBundleSettings, metaGlobalVars) }}
            </div>
            <div class="field seomatic-imageSourceNotFromUrl">
                {{ _self.twitterImageTransformField(field, metaBundleSettings) }}
            </div>
            <div class="field seomatic-imageSourceNotFromUrl">
                {{ _self.twitterImageTransformModeField(field, imageCropModes, metaBundleSettings) }}
            </div>
        </div>
    {% endmacro %}

    {% set imageOptions = {
        fromAsset: "Custom Image"|t("seomatic"),
        fromUrl: "Custom URL"|t("seomatic"),
    } %}
    {% if assetFieldSources is defined and assetFieldSources |length %}
        {% set imageOptions = { fromField: "From Asset Field"|t('seomatic'), } | merge(imageOptions) %}
    {% endif %}
    {% set imageOptions = { sameAsSeo: "Same As SEO Image"|t("seomatic"), } | merge(imageOptions) %}

    {% set imageCropModes = {
        "crop": "Crop"|t("seomatic"),
        "fit": "Fit"|t("seomatic"),
        "stretch": "Stretch"|t("seomatic"),
    } %}

    {% if pageContext == "field" %}
        {% set imageCropModes = { "": ""} | merge(imageCropModes) %}
    {% endif %}

    {% block inheritedValues %}
        {% if hasInheritableValues %}
            {% if inheritedFrom.metaBundleSettings.twitterImageIds|length > 0 %}
                {%  set twitterImageElement = craft.assets.id(inheritedFrom.metaBundleSettings.twitterImageIds).limit(1).all() %}
            {% else %}
                {%  set twitterImageElement = [] %}
            {% endif %}

            {% if hasInheritableValues %}
                {{ _self.entiretwitterImageField(twitterImageElement, elementType, imageOptions, field|default(null), assetFieldSources, imageCropModes, inheritedFrom.metaBundleSettings, inheritedFrom.metaGlobalVars) }}
            {% endif %}
        {% endif %}
    {% endblock %}

    {% block field %}
        {% if metaBundleSettings.twitterImageIds|length > 0 %}
            {%  set twitterImageElement = craft.assets.id(metaBundleSettings.twitterImageIds).limit(1).all() %}
        {% else %}
            {%  set twitterImageElement = [] %}
        {% endif %}

        {{ _self.entireTwitterImageField(twitterImageElement, elementType, imageOptions, field|default(null), assetFieldSources, imageCropModes, metaBundleSettings, metaGlobalVars) }}
    {% endblock %}


    {############### Twitter Image Macros ###############}

    {% macro twitterImageTransformModeField(field, imageCropModes, metaBundleSettings) %}

        <div class="field" {% if field is not null and 'twitterImageTransformMode' not in field.twitterEnabledFields %}style="display: none;"{% endif %}>
            <div class="heading">
                <label for="metaBundleSettings-twitterImageTransformMode">
                    {{ "Twitter Image Transform Mode"|t("seomatic") }}
                </label>
            </div>
            <div class="instructions">
                <p>{{ "The transform mode to use for the Twitter Image Transform."|t("seomatic") }}</p>
            </div>

            {% import "_includes/forms" as forms %}
            {% namespace "metaBundleSettings" %}
                {{ forms.selectField({
                    id: "twitterImageTransformMode",
                    name: "twitterImageTransformMode",
                    options: imageCropModes,
                    value: metaBundleSettings.twitterImageTransformMode,
                    warning: false,
                    errors: metaBundleSettings.getErrors("twitterImageTransformMode"),
                }) }}
            {% endnamespace %}
        </div>
    {% endmacro %}

    {% macro twitterImageTransformField(field, metaBundleSettings) %}
        {% import "_includes/forms" as forms %}

        <div class="field" {% if field is not null and 'transformTwitterImage' not in field.twitterEnabledFields %}style="display: none;"{% endif %}>
            <div class="heading">
                <label for="metaBundleSettings-twitterImageTransform">
                    {{ "Transform Twitter Image"|t("seomatic") }}
                </label>
            </div>
            {% namespace "metaBundleSettings" %}
                {{ forms.lightswitchField({
                    instructions: "Whether the Twitter image should be automatically transformed to an appropriate file format and aspect ratio for the chosen Twitter Card type."|t("seomatic"),
                    id: "twitterImageTransform",
                    name: "twitterImageTransform",
                    on: metaBundleSettings.twitterImageTransform,
                    warning: false,
                    errors: metaBundleSettings.getErrors("twitterImageTransform"),
                }) }}
            {% endnamespace %}
        </div>
    {% endmacro %}

    {% macro twitterImageField(twitterImageElement, elementType, imageOptions, assetFieldSources, metaBundleSettings, metaGlobalVars) %}
        <div class="instructions">
            <p>{{ "This is the image that will be used for display as Twitter Cards on tweets that link to the web page."|t("seomatic") }}</p>
        </div>
        {% import "_includes/forms" as forms %}

        {% namespace "metaBundleSettings" %}
            <div class="heading">
                {{ forms.select({
                    id: "twitterImageSource",
                    name: "twitterImageSource",
                    options: imageOptions,
                    value: metaBundleSettings.twitterImageSource,
                    class: "seomatic-imageSourceSelect",
                    errors: metaBundleSettings.getErrors("twitterImageSource"),
                }) }}
            </div>
        {% endnamespace %}

        {% if assetFieldSources is defined and assetFieldSources |length %}
            {% namespace "metaBundleSettings" %}
                <div class="heading seomatic-imageSourceFromField">
                    <label id="metaBundleSettings-twitterImageField-label" for="metaBundleSettings-twitterImageField">{{ "Asset Field: "|t("seomatic") }}</label>
                    {{ forms.select({
                        id: "twitterImageField",
                        name: "twitterImageField",
                        options: assetFieldSources,
                        value: metaBundleSettings.twitterImageField,
                        errors: metaBundleSettings.getErrors("twitterImageField"),
                    }) }}
                </div>
            {% endnamespace %}
        {% endif %}

        {% namespace "metaBundleSettings" %}
            <div class="heading seomatic-imageSourceFromAsset">
                {{ forms.elementSelect({
                    id: "twitterImageIds" ~ metaBundleSettings.getHash(),
                    name: "twitterImageIds",
                    viewMode: "large",
                    elements: twitterImageElement,
                    elementType: elementType,
                    criteria: {
                        kind: ["image"],
                    },
                    jsClass: 'Craft.AssetSelectInput',
                    selectionLabel: "Select Twitter Image"|t("seomatic"),
                    sources: [],
                    limit: 1,
                    warning: false,
                    errors: metaBundleSettings.getErrors("twitterImageIds"),
                }) }}
            </div>
        {% endnamespace %}

        {% namespace "metaGlobalVars" %}
            <div class="heading seomatic-imageSourceFromUrl">
                {{ forms.text({
                    id: "twitterImage",
                    name: "twitterImage",
                    value: metaGlobalVars.twitterImage,
                    class: "nicetext",
                    warning: false,
                    errors: metaGlobalVars.getErrors("twitterImage"),
                }) }}
            </div>
        {% endnamespace %}
    {% endmacro %}
{% endembed %}
